<?xml version="1.0"?>

<launch>

  <arg name="world_name" default="worlds/empty.world"/>

  <arg name="laser_enabled" default="true"/>
  <arg name="kinect_enabled" default="false"/>
  
  <arg name="robot_1" default="Alpha"/>
  <arg name="robot_2" default="Beta"/>
  <arg name="robot_3" default="Gamma"/>

  <!-- set up multi-robot config in gazebo -->
  <include file="$(find multimaster_launch)/launch/multimaster_gazebo.launch"/>

  <!-- launch world file -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/> <!-- world_name is wrt GAZEBO_RESOURCE_PATH environment variable -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  

  <!-- launch robot 1 -->
  <arg name="init_x" default="10"/>
  <arg name="init_y" default="0"/>
  
  <include file="$(find rcomv_ugv)/launch/spawn_husky.launch">
    <arg name="robot_namespace" value="$(arg robot_1)"/>
    <arg name="multimaster" value="false"/>    
  
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="yaw" default="0"/>
  </include>

    <!--- Run Move Base -->
  <group ns="$(arg robot_1)">  
    <include file="$(find rcomv_ugv)/launch/move_base.launch">
     <arg name="no_static_map" value="true"/>
    </include>
  

    <arg name="path" default="[0, 0, 5]"/>
    <arg name="number_segements" default="4"/>
    <!-- path publisher -->
    <node pkg="rcomv_ugv" type="circular_path_publisher"      name="circular_motion_planner"  output="screen" launch-prefix="xterm -e">
	<rosparam param="path" subst_value="True">$(arg path)</rosparam>
	<param name="number_segements" value="$(arg number_segements)"/>
    </node>
  </group>





</launch>
