<?xml version="1.0"?>

<launch>

  <arg name="world_name" default="worlds/empty.world"/>
  <arg name="laser_enabled" default="true"/>
  <arg name="kinect_enabled" default="false"/>

  <!--- Run Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/> <!-- world_name is wrt GAZEBO_RESOURCE_PATH environment variable -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!--- Run Robot -->
  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
  </include>

  <!--- Run Move Base -->
  <include file="$(find rcomv_ugv)/launch/move_base.launch">
    <arg name="no_static_map" value="true"/>
  </include>

  <!--- Run Rviz Interface-->
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rcomv_ugv)/rviz/robot.rviz" output="screen"/>

  <!-- Run square path publisher-->
  <node name="square_path_publisher" pkg="rcomv_ugv" type="move_base_square"
  	launch-prefix="xterm -e"
  >

  </node>

</launch>
