<?xml version="1.0"?>

<launch>

  <include file="$(find rcomv_ugv)/launch/husky_empty_world.launch"> 
  </include>

  <include file="$(find rcomv_ugv)/launch/move_base_mapless_demo.launch"> 
  </include>

  <arg name="position" default="[1, 0, 0]"/>
  <arg name="euler" default="[0, 0, -0.2356]"/>  

  <node pkg="rcomv_ugv" type="simple_navigation_goals" name="line_motion_planner"  output="screen" launch-prefix="xterm -e">
	<rosparam param="position" subst_value="True">$(arg position)</rosparam>
 	<rosparam param="euler" subst_value="True">$(arg euler)</rosparam>
  </node>

</launch>
