<?xml version="1.0" encoding="utf-8"?>
<launch>
   <arg default="firefly" name="mav_name"/>
   <arg default="small_building" name="world_name"/>
   <arg default="true" name="enable_logging"/>
   <arg default="true" name="enable_ground_truth"/>
   <arg default="$(arg mav_name)" name="log_file"/>
   <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models"/>
   <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/models"/>
   <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find rcomv_uav)/worlds/$(arg world_name).world"/>
      <arg name="paused" value="true"/>
   </include>
   <arg default="15" name="n"/>
   <arg default="7" name="k"/>
   <arg default="1" name="F"/>
   <arg default="3" name="demo"/>
   <arg default="15" name="lead_x"/>
   <arg default="-15" name="lead_y"/>
   <arg default="15" name="lead_z"/>
   <node launch-prefix="xterm -e" name="switch_node" output="screen" pkg="rcomv_uav" type="switch"/><!--upper level switch node-->
   <include file="$(find rcomv_uav)/launch/uav_with_control.launch"><!--start of uav1-->
      <arg name="n" value="$(arg n)"/>
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="mav_name" value="$(arg mav_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="uav1"/>
      <arg name="idx" value="1"/>
      <arg name="role" value="2"/>
      <arg name="color" value="Black"/>
      <arg name="x" value="20"/>
      <arg name="y" value="-15"/>
      <arg name="z" value="15.3581"/>
      <arg name="lead_x" value="$(arg lead_x)"/>
      <arg name="lead_y" value="$(arg lead_y)"/>
      <arg name="lead_z" value="$(arg lead_z)"/>
      <arg name="demo" value="$(arg demo)"/>
   </include><!--end of uav1-->
   <include file="$(find rcomv_uav)/launch/uav_with_control.launch"><!--start of uav2-->
      <arg name="n" value="$(arg n)"/>
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="mav_name" value="$(arg mav_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="uav2"/>
      <arg name="idx" value="2"/>
      <arg name="role" value="2"/>
      <arg name="color" value="Black"/>
      <arg name="x" value="21"/>
      <arg name="y" value="-15"/>
      <arg name="z" value="15.4232"/>
      <arg name="lead_x" value="$(arg lead_x)"/>
      <arg name="lead_y" value="$(arg lead_y)"/>
      <arg name="lead_z" value="$(arg lead_z)"/>
      <arg name="demo" value="$(arg demo)"/>
   </include><!--end of uav2-->
   <include file="$(find rcomv_uav)/launch/uav_with_control.launch"><!--start of uav3-->
      <arg name="n" value="$(arg n)"/>
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="mav_name" value="$(arg mav_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="uav3"/>
      <arg name="idx" value="3"/>
      <arg name="role" value="2"/>
      <arg name="color" value="Black"/>
      <arg name="x" value="22"/>
      <arg name="y" value="-15"/>
      <arg name="z" value="15.1745"/>
      <arg name="lead_x" value="$(arg lead_x)"/>
      <arg name="lead_y" value="$(arg lead_y)"/>
      <arg name="lead_z" value="$(arg lead_z)"/>
      <arg name="demo" value="$(arg demo)"/>
   </include><!--end of uav3-->
   <include file="$(find rcomv_uav)/launch/uav_with_control.launch"><!--start of uav4-->
      <arg name="n" value="$(arg n)"/>
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="mav_name" value="$(arg mav_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="uav4"/>
      <arg name="idx" value="4"/>
      <arg name="role" value="2"/>
      <arg name="color" value="Black"/>
      <arg name="x" value="20"/>
      <arg name="y" value="-12"/>
      <arg name="z" value="15.3195"/>
      <arg name="lead_x" value="$(arg lead_x)"/>
      <arg name="lead_y" value="$(arg lead_y)"/>
      <arg name="lead_z" value="$(arg lead_z)"/>
      <arg name="demo" value="$(arg demo)"/>
   </include><!--end of uav4-->
   <include file="$(find rcomv_uav)/launch/uav_with_control.launch"><!--start of uav5-->
      <arg name="n" value="$(arg n)"/>
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="mav_name" value="$(arg mav_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="uav5"/>
      <arg name="idx" value="5"/>
      <arg name="role" value="2"/>
      <arg name="color" value="Black"/>
      <arg name="x" value="20"/>
      <arg name="y" value="-11"/>
      <arg name="z" value="15.0073"/>
      <arg name="lead_x" value="$(arg lead_x)"/>
      <arg name="lead_y" value="$(arg lead_y)"/>
      <arg name="lead_z" value="$(arg lead_z)"/>
      <arg name="demo" value="$(arg demo)"/>
   </include><!--end of uav5-->
   <include file="$(find rcomv_uav)/launch/uav_with_control.launch"><!--start of uav6-->
      <arg name="n" value="$(arg n)"/>
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="mav_name" value="$(arg mav_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="uav6"/>
      <arg name="idx" value="6"/>
      <arg name="role" value="2"/>
      <arg name="color" value="Black"/>
      <arg name="x" value="20"/>
      <arg name="y" value="-10"/>
      <arg name="z" value="15.293"/>
      <arg name="lead_x" value="$(arg lead_x)"/>
      <arg name="lead_y" value="$(arg lead_y)"/>
      <arg name="lead_z" value="$(arg lead_z)"/>
      <arg name="demo" value="$(arg demo)"/>
   </include><!--end of uav6-->
   <include file="$(find rcomv_uav)/launch/uav_with_control.launch"><!--start of uav7-->
      <arg name="n" value="$(arg n)"/>
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="mav_name" value="$(arg mav_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="uav7"/>
      <arg name="idx" value="7"/>
      <arg name="role" value="2"/>
      <arg name="color" value="Black"/>
      <arg name="x" value="10"/>
      <arg name="y" value="-12"/>
      <arg name="z" value="15.1743"/>
      <arg name="lead_x" value="$(arg lead_x)"/>
      <arg name="lead_y" value="$(arg lead_y)"/>
      <arg name="lead_z" value="$(arg lead_z)"/>
      <arg name="demo" value="$(arg demo)"/>
   </include><!--end of uav7-->
   <include file="$(find rcomv_uav)/launch/uav_with_control.launch"><!--start of uav8-->
      <arg name="n" value="$(arg n)"/>
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="mav_name" value="$(arg mav_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="uav8"/>
      <arg name="idx" value="8"/>
      <arg name="role" value="2"/>
      <arg name="color" value="Black"/>
      <arg name="x" value="10"/>
      <arg name="y" value="-11"/>
      <arg name="z" value="15.2778"/>
      <arg name="lead_x" value="$(arg lead_x)"/>
      <arg name="lead_y" value="$(arg lead_y)"/>
      <arg name="lead_z" value="$(arg lead_z)"/>
      <arg name="demo" value="$(arg demo)"/>
   </include><!--end of uav8-->
   <include file="$(find rcomv_uav)/launch/uav_with_control.launch"><!--start of uav9-->
      <arg name="n" value="$(arg n)"/>
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="mav_name" value="$(arg mav_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="uav9"/>
      <arg name="idx" value="9"/>
      <arg name="role" value="1"/>
      <arg name="color" value="Red"/>
      <arg name="x" value="10"/>
      <arg name="y" value="-10"/>
      <arg name="z" value="15.0709"/>
      <arg name="lead_x" value="$(arg lead_x)"/>
      <arg name="lead_y" value="$(arg lead_y)"/>
      <arg name="lead_z" value="$(arg lead_z)"/>
      <arg name="demo" value="$(arg demo)"/>
   </include><!--end of uav9-->
   <include file="$(find rcomv_uav)/launch/uav_with_control.launch"><!--start of uav10-->
      <arg name="n" value="$(arg n)"/>
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="mav_name" value="$(arg mav_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="uav10"/>
      <arg name="idx" value="10"/>
      <arg name="role" value="2"/>
      <arg name="color" value="Black"/>
      <arg name="x" value="10"/>
      <arg name="y" value="-18"/>
      <arg name="z" value="15.2258"/>
      <arg name="lead_x" value="$(arg lead_x)"/>
      <arg name="lead_y" value="$(arg lead_y)"/>
      <arg name="lead_z" value="$(arg lead_z)"/>
      <arg name="demo" value="$(arg demo)"/>
   </include><!--end of uav10-->
   <include file="$(find rcomv_uav)/launch/uav_with_control.launch"><!--start of uav11-->
      <arg name="n" value="$(arg n)"/>
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="mav_name" value="$(arg mav_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="uav11"/>
      <arg name="idx" value="11"/>
      <arg name="role" value="2"/>
      <arg name="color" value="Black"/>
      <arg name="x" value="10"/>
      <arg name="y" value="-19"/>
      <arg name="z" value="15.0993"/>
      <arg name="lead_x" value="$(arg lead_x)"/>
      <arg name="lead_y" value="$(arg lead_y)"/>
      <arg name="lead_z" value="$(arg lead_z)"/>
      <arg name="demo" value="$(arg demo)"/>
   </include><!--end of uav11-->
   <include file="$(find rcomv_uav)/launch/uav_with_control.launch"><!--start of uav12-->
      <arg name="n" value="$(arg n)"/>
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="mav_name" value="$(arg mav_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="uav12"/>
      <arg name="idx" value="12"/>
      <arg name="role" value="3"/>
      <arg name="color" value="Blue"/>
      <arg name="x" value="10"/>
      <arg name="y" value="-20"/>
      <arg name="z" value="15.3812"/>
      <arg name="lead_x" value="$(arg lead_x)"/>
      <arg name="lead_y" value="$(arg lead_y)"/>
      <arg name="lead_z" value="$(arg lead_z)"/>
      <arg name="demo" value="$(arg demo)"/>
   </include><!--end of uav12-->
   <include file="$(find rcomv_uav)/launch/uav_with_control.launch"><!--start of uav13-->
      <arg name="n" value="$(arg n)"/>
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="mav_name" value="$(arg mav_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="uav13"/>
      <arg name="idx" value="13"/>
      <arg name="role" value="3"/>
      <arg name="color" value="Blue"/>
      <arg name="x" value="20"/>
      <arg name="y" value="-18"/>
      <arg name="z" value="15.2375"/>
      <arg name="lead_x" value="$(arg lead_x)"/>
      <arg name="lead_y" value="$(arg lead_y)"/>
      <arg name="lead_z" value="$(arg lead_z)"/>
      <arg name="demo" value="$(arg demo)"/>
   </include><!--end of uav13-->
   <include file="$(find rcomv_uav)/launch/uav_with_control.launch"><!--start of uav14-->
      <arg name="n" value="$(arg n)"/>
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="mav_name" value="$(arg mav_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="uav14"/>
      <arg name="idx" value="14"/>
      <arg name="role" value="3"/>
      <arg name="color" value="Blue"/>
      <arg name="x" value="20"/>
      <arg name="y" value="-19"/>
      <arg name="z" value="15.0898"/>
      <arg name="lead_x" value="$(arg lead_x)"/>
      <arg name="lead_y" value="$(arg lead_y)"/>
      <arg name="lead_z" value="$(arg lead_z)"/>
      <arg name="demo" value="$(arg demo)"/>
   </include><!--end of uav14-->
   <include file="$(find rcomv_uav)/launch/uav_with_control.launch"><!--start of uav15-->
      <arg name="n" value="$(arg n)"/>
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="mav_name" value="$(arg mav_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="uav15"/>
      <arg name="idx" value="15"/>
      <arg name="role" value="2"/>
      <arg name="color" value="Black"/>
      <arg name="x" value="20"/>
      <arg name="y" value="-20"/>
      <arg name="z" value="15.3947"/>
      <arg name="lead_x" value="$(arg lead_x)"/>
      <arg name="lead_y" value="$(arg lead_y)"/>
      <arg name="lead_z" value="$(arg lead_z)"/>
      <arg name="demo" value="$(arg demo)"/>
   </include><!--end of uav15-->
</launch>