<?xml version="1.0" ?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="world_name" value="$(find rcomv_r1)/worlds/basic.world"/>
  </include>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs1 -x 40.0 -y 0.0" name="obs1" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs2 -x 39.92 -y 2.51" name="obs2" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs3 -x 39.68 -y 5.01" name="obs3" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs4 -x 39.29 -y 7.5" name="obs4" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs5 -x 38.74 -y 9.95" name="obs5" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs6 -x 38.04 -y 12.36" name="obs6" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs7 -x 37.19 -y 14.72" name="obs7" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs8 -x 36.19 -y 17.03" name="obs8" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs9 -x 35.05 -y 19.27" name="obs9" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs10 -x 33.77 -y 21.43" name="obs10" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs11 -x 32.36 -y 23.51" name="obs11" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs12 -x 30.82 -y 25.5" name="obs12" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs13 -x 29.16 -y 27.38" name="obs13" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs14 -x 27.38 -y 29.16" name="obs14" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs15 -x 25.5 -y 30.82" name="obs15" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs16 -x 23.51 -y 32.36" name="obs16" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs17 -x 21.43 -y 33.77" name="obs17" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs18 -x 19.27 -y 35.05" name="obs18" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs19 -x 17.03 -y 36.19" name="obs19" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs20 -x 14.72 -y 37.19" name="obs20" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs21 -x 12.36 -y 38.04" name="obs21" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs22 -x 9.95 -y 38.74" name="obs22" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs23 -x 7.5 -y 39.29" name="obs23" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs24 -x 5.01 -y 39.68" name="obs24" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs25 -x 2.51 -y 39.92" name="obs25" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs26 -x 0.0 -y 40.0" name="obs26" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs27 -x -2.51 -y 39.92" name="obs27" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs28 -x -5.01 -y 39.68" name="obs28" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs29 -x -7.5 -y 39.29" name="obs29" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs30 -x -9.95 -y 38.74" name="obs30" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs31 -x -12.36 -y 38.04" name="obs31" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs32 -x -14.72 -y 37.19" name="obs32" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs33 -x -17.03 -y 36.19" name="obs33" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs34 -x -19.27 -y 35.05" name="obs34" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs35 -x -21.43 -y 33.77" name="obs35" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs36 -x -23.51 -y 32.36" name="obs36" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs37 -x -25.5 -y 30.82" name="obs37" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs38 -x -27.38 -y 29.16" name="obs38" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs39 -x -29.16 -y 27.38" name="obs39" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs40 -x -30.82 -y 25.5" name="obs40" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs41 -x -32.36 -y 23.51" name="obs41" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs42 -x -33.77 -y 21.43" name="obs42" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs43 -x -35.05 -y 19.27" name="obs43" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs44 -x -36.19 -y 17.03" name="obs44" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs45 -x -37.19 -y 14.72" name="obs45" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs46 -x -38.04 -y 12.36" name="obs46" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs47 -x -38.74 -y 9.95" name="obs47" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs48 -x -39.29 -y 7.5" name="obs48" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs49 -x -39.68 -y 5.01" name="obs49" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs50 -x -39.92 -y 2.51" name="obs50" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs51 -x -40.0 -y 0.0" name="obs51" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs52 -x -39.92 -y -2.51" name="obs52" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs53 -x -39.68 -y -5.01" name="obs53" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs54 -x -39.29 -y -7.5" name="obs54" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs55 -x -38.74 -y -9.95" name="obs55" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs56 -x -38.04 -y -12.36" name="obs56" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs57 -x -37.19 -y -14.72" name="obs57" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs58 -x -36.19 -y -17.03" name="obs58" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs59 -x -35.05 -y -19.27" name="obs59" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs60 -x -33.77 -y -21.43" name="obs60" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs61 -x -32.36 -y -23.51" name="obs61" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs62 -x -30.82 -y -25.5" name="obs62" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs63 -x -29.16 -y -27.38" name="obs63" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs64 -x -27.38 -y -29.16" name="obs64" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs65 -x -25.5 -y -30.82" name="obs65" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs66 -x -23.51 -y -32.36" name="obs66" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs67 -x -21.43 -y -33.77" name="obs67" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs68 -x -19.27 -y -35.05" name="obs68" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs69 -x -17.03 -y -36.19" name="obs69" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs70 -x -14.72 -y -37.19" name="obs70" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs71 -x -12.36 -y -38.04" name="obs71" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs72 -x -9.95 -y -38.74" name="obs72" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs73 -x -7.5 -y -39.29" name="obs73" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs74 -x -5.01 -y -39.68" name="obs74" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs75 -x -2.51 -y -39.92" name="obs75" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs76 -x -0.0 -y -40.0" name="obs76" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs77 -x 2.51 -y -39.92" name="obs77" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs78 -x 5.01 -y -39.68" name="obs78" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs79 -x 7.5 -y -39.29" name="obs79" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs80 -x 9.95 -y -38.74" name="obs80" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs81 -x 12.36 -y -38.04" name="obs81" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs82 -x 14.72 -y -37.19" name="obs82" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs83 -x 17.03 -y -36.19" name="obs83" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs84 -x 19.27 -y -35.05" name="obs84" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs85 -x 21.43 -y -33.77" name="obs85" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs86 -x 23.51 -y -32.36" name="obs86" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs87 -x 25.5 -y -30.82" name="obs87" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs88 -x 27.38 -y -29.16" name="obs88" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs89 -x 29.16 -y -27.38" name="obs89" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs90 -x 30.82 -y -25.5" name="obs90" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs91 -x 32.36 -y -23.51" name="obs91" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs92 -x 33.77 -y -21.43" name="obs92" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs93 -x 35.05 -y -19.27" name="obs93" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs94 -x 36.19 -y -17.03" name="obs94" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs95 -x 37.19 -y -14.72" name="obs95" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs96 -x 38.04 -y -12.36" name="obs96" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs97 -x 38.74 -y -9.95" name="obs97" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs98 -x 39.29 -y -7.5" name="obs98" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs99 -x 39.68 -y -5.01" name="obs99" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs100 -x 39.92 -y -2.51" name="obs100" pkg="gazebo_ros" type="spawn_model"/>
</launch>

