<?xml version="1.0" ?>
<launch>
  <arg default="20" name="R"/>
  <arg default="30" name="T"/>
  <arg default="1" name="gazebo"/>
  <arg default="1.5" name="vmax"/>
  <arg default="0" name="t0"/>
  <arg default="1" name="R1"/>
  <arg default="1.5708" name="qf_theta"/>
  <arg default="0" name="xc"/>
  <arg default="r1_sim" name="ugv_name"/>
  <arg default="10" name="n"/>
  <arg default="15" name="radius"/>
  <arg default="0" name="phi0"/>
  <arg default="10" name="leng"/>
  <arg default="60" name="poly_k"/>
  <arg default="0" name="psi"/>
  <arg default="10" name="eta"/>
  <arg default="true" name="enable_logging"/>
  <arg default="0.05" name="b"/>
  <arg default="0" name="qf_y"/>
  <arg default="0.5" name="k2"/>
  <arg default="1" name="ds"/>
  <arg default="0.5" name="k1"/>
  <arg default="true" name="enable_ground_truth"/>
  <arg default="0" name="start_L"/>
  <arg default="true" name="endless"/>
  <arg default="0" name="yc"/>
  <arg default="3" name="k"/>
  <arg default="circular" name="path_type"/>
  <arg default="4" name="wmax"/>
  <arg default="0" name="qi_y"/>
  <arg default="0" name="v"/>
  <arg default="3" name="dc"/>
  <arg default="0.09" name="wd"/>
  <arg default="1.5708" name="qi_theta"/>
  <arg default="R" name="common_namespace"/>
  <arg default="0" name="F"/>
  <arg default="1" name="R2"/>
  <arg default="10" name="qi_x"/>
  <arg default="-10" name="qf_x"/>
  <arg default="20" name="Rad"/>
  <arg default="basic" name="world_name"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="world_name" value="$(find rcomv_uav)/worlds/$(arg world_name).world"/>
  </include>
  <include file="$(find rcomv_r1)/launch/IO_launch/ugv_with_IO_collision.launch">
    <arg name="enable_logging" value="$(arg enable_logging)"/>
    <arg name="path_type" value="$(arg path_type)"/>
    <arg name="endless" value="$(arg endless)"/>
    <arg name="b" value="$(arg b)"/>
    <arg name="k1" value="$(arg k1)"/>
    <arg name="k2" value="$(arg k2)"/>
    <arg name="vmax" value="$(arg vmax)"/>
    <arg name="wmax" value="$(arg wmax)"/>
    <arg name="wd" value="$(arg wd)"/>
    <arg name="R" value="$(arg R)"/>
    <arg name="R1" value="$(arg R1)"/>
    <arg name="R2" value="$(arg R2)"/>
    <arg name="n" value="$(arg n)"/>
    <arg name="ds" value="$(arg ds)"/>
    <arg name="dc" value="$(arg dc)"/>
    <arg name="gazebo" value="$(arg gazebo)"/>
    <arg name="xc" value="$(arg xc)"/>
    <arg name="yc" value="$(arg yc)"/>
    <arg name="z" value="0.1"/>
    <arg name="rover_number" value="1"/>
    <arg name="agent_index" value="1"/>
    <arg name="ugv_name" value="R1"/>
    <arg name="Ri" value="15"/>
    <arg name="T" value="30"/>
    <arg name="poly_k" value="60"/>
    <arg name="qf_y" value="-0.0078972"/>
    <arg name="gdb_xterm_output" value="0"/>
    <arg name="y" value="0.0"/>
    <arg name="qf_x" value="-9.9225"/>
    <arg name="alphai" value="0.0"/>
    <arg name="name_space" value="R1"/>
    <arg name="qi_y" value="-0.053919"/>
    <arg name="qi_theta" value="1.5498"/>
    <arg name="yaw" value="1.5708"/>
    <arg name="qi_x" value="9.9662"/>
    <arg name="qf_theta" value="1.5918"/>
    <arg name="x" value="10.0"/>
  </include>
  <include file="$(find rcomv_r1)/launch/IO_launch/ugv_with_IO_collision.launch">
    <arg name="enable_logging" value="$(arg enable_logging)"/>
    <arg name="path_type" value="$(arg path_type)"/>
    <arg name="endless" value="$(arg endless)"/>
    <arg name="b" value="$(arg b)"/>
    <arg name="k1" value="$(arg k1)"/>
    <arg name="k2" value="$(arg k2)"/>
    <arg name="vmax" value="$(arg vmax)"/>
    <arg name="wmax" value="$(arg wmax)"/>
    <arg name="wd" value="$(arg wd)"/>
    <arg name="R" value="$(arg R)"/>
    <arg name="R1" value="$(arg R1)"/>
    <arg name="R2" value="$(arg R2)"/>
    <arg name="n" value="$(arg n)"/>
    <arg name="ds" value="$(arg ds)"/>
    <arg name="dc" value="$(arg dc)"/>
    <arg name="gazebo" value="$(arg gazebo)"/>
    <arg name="xc" value="$(arg xc)"/>
    <arg name="yc" value="$(arg yc)"/>
    <arg name="z" value="0.1"/>
    <arg name="rover_number" value="2"/>
    <arg name="agent_index" value="2"/>
    <arg name="ugv_name" value="R2"/>
    <arg name="Ri" value="15"/>
    <arg name="T" value="30"/>
    <arg name="poly_k" value="60"/>
    <arg name="qf_y" value="-0.0078972"/>
    <arg name="gdb_xterm_output" value="0"/>
    <arg name="y" value="5.877852522924732"/>
    <arg name="qf_x" value="-9.9225"/>
    <arg name="alphai" value="0.6283185307179586"/>
    <arg name="name_space" value="R2"/>
    <arg name="qi_y" value="-0.053919"/>
    <arg name="qi_theta" value="1.5498"/>
    <arg name="yaw" value="1.5708"/>
    <arg name="qi_x" value="9.9662"/>
    <arg name="qf_theta" value="1.5918"/>
    <arg name="x" value="8.090169943749475"/>
  </include>
  <include file="$(find rcomv_r1)/launch/IO_launch/ugv_with_IO_collision.launch">
    <arg name="enable_logging" value="$(arg enable_logging)"/>
    <arg name="path_type" value="$(arg path_type)"/>
    <arg name="endless" value="$(arg endless)"/>
    <arg name="b" value="$(arg b)"/>
    <arg name="k1" value="$(arg k1)"/>
    <arg name="k2" value="$(arg k2)"/>
    <arg name="vmax" value="$(arg vmax)"/>
    <arg name="wmax" value="$(arg wmax)"/>
    <arg name="wd" value="$(arg wd)"/>
    <arg name="R" value="$(arg R)"/>
    <arg name="R1" value="$(arg R1)"/>
    <arg name="R2" value="$(arg R2)"/>
    <arg name="n" value="$(arg n)"/>
    <arg name="ds" value="$(arg ds)"/>
    <arg name="dc" value="$(arg dc)"/>
    <arg name="gazebo" value="$(arg gazebo)"/>
    <arg name="xc" value="$(arg xc)"/>
    <arg name="yc" value="$(arg yc)"/>
    <arg name="z" value="0.1"/>
    <arg name="rover_number" value="3"/>
    <arg name="agent_index" value="3"/>
    <arg name="ugv_name" value="R3"/>
    <arg name="Ri" value="15"/>
    <arg name="T" value="30"/>
    <arg name="poly_k" value="60"/>
    <arg name="qf_y" value="-0.0078972"/>
    <arg name="gdb_xterm_output" value="0"/>
    <arg name="y" value="9.510565162951535"/>
    <arg name="qf_x" value="-9.9225"/>
    <arg name="alphai" value="1.2566370614359172"/>
    <arg name="name_space" value="R3"/>
    <arg name="qi_y" value="-0.053919"/>
    <arg name="qi_theta" value="1.5498"/>
    <arg name="yaw" value="1.5708"/>
    <arg name="qi_x" value="9.9662"/>
    <arg name="qf_theta" value="1.5918"/>
    <arg name="x" value="3.0901699437494745"/>
  </include>
  <include file="$(find rcomv_r1)/launch/IO_launch/ugv_with_IO_collision.launch">
    <arg name="enable_logging" value="$(arg enable_logging)"/>
    <arg name="path_type" value="$(arg path_type)"/>
    <arg name="endless" value="$(arg endless)"/>
    <arg name="b" value="$(arg b)"/>
    <arg name="k1" value="$(arg k1)"/>
    <arg name="k2" value="$(arg k2)"/>
    <arg name="vmax" value="$(arg vmax)"/>
    <arg name="wmax" value="$(arg wmax)"/>
    <arg name="wd" value="$(arg wd)"/>
    <arg name="R" value="$(arg R)"/>
    <arg name="R1" value="$(arg R1)"/>
    <arg name="R2" value="$(arg R2)"/>
    <arg name="n" value="$(arg n)"/>
    <arg name="ds" value="$(arg ds)"/>
    <arg name="dc" value="$(arg dc)"/>
    <arg name="gazebo" value="$(arg gazebo)"/>
    <arg name="xc" value="$(arg xc)"/>
    <arg name="yc" value="$(arg yc)"/>
    <arg name="z" value="0.1"/>
    <arg name="rover_number" value="4"/>
    <arg name="agent_index" value="4"/>
    <arg name="ugv_name" value="R4"/>
    <arg name="Ri" value="15"/>
    <arg name="T" value="30"/>
    <arg name="poly_k" value="60"/>
    <arg name="qf_y" value="-0.0078972"/>
    <arg name="gdb_xterm_output" value="0"/>
    <arg name="y" value="9.510565162951536"/>
    <arg name="qf_x" value="-9.9225"/>
    <arg name="alphai" value="1.8849555921538759"/>
    <arg name="name_space" value="R4"/>
    <arg name="qi_y" value="-0.053919"/>
    <arg name="qi_theta" value="1.5498"/>
    <arg name="yaw" value="1.5708"/>
    <arg name="qi_x" value="9.9662"/>
    <arg name="qf_theta" value="1.5918"/>
    <arg name="x" value="-3.0901699437494736"/>
  </include>
  <include file="$(find rcomv_r1)/launch/IO_launch/ugv_with_IO_collision.launch">
    <arg name="enable_logging" value="$(arg enable_logging)"/>
    <arg name="path_type" value="$(arg path_type)"/>
    <arg name="endless" value="$(arg endless)"/>
    <arg name="b" value="$(arg b)"/>
    <arg name="k1" value="$(arg k1)"/>
    <arg name="k2" value="$(arg k2)"/>
    <arg name="vmax" value="$(arg vmax)"/>
    <arg name="wmax" value="$(arg wmax)"/>
    <arg name="wd" value="$(arg wd)"/>
    <arg name="R" value="$(arg R)"/>
    <arg name="R1" value="$(arg R1)"/>
    <arg name="R2" value="$(arg R2)"/>
    <arg name="n" value="$(arg n)"/>
    <arg name="ds" value="$(arg ds)"/>
    <arg name="dc" value="$(arg dc)"/>
    <arg name="gazebo" value="$(arg gazebo)"/>
    <arg name="xc" value="$(arg xc)"/>
    <arg name="yc" value="$(arg yc)"/>
    <arg name="z" value="0.1"/>
    <arg name="rover_number" value="5"/>
    <arg name="agent_index" value="5"/>
    <arg name="ugv_name" value="R5"/>
    <arg name="Ri" value="15"/>
    <arg name="T" value="30"/>
    <arg name="poly_k" value="60"/>
    <arg name="qf_y" value="-0.0078972"/>
    <arg name="gdb_xterm_output" value="0"/>
    <arg name="y" value="5.877852522924733"/>
    <arg name="qf_x" value="-9.9225"/>
    <arg name="alphai" value="2.5132741228718345"/>
    <arg name="name_space" value="R5"/>
    <arg name="qi_y" value="-0.053919"/>
    <arg name="qi_theta" value="1.5498"/>
    <arg name="yaw" value="1.5708"/>
    <arg name="qi_x" value="9.9662"/>
    <arg name="qf_theta" value="1.5918"/>
    <arg name="x" value="-8.090169943749473"/>
  </include>
  <include file="$(find rcomv_r1)/launch/IO_launch/ugv_with_IO_collision.launch">
    <arg name="enable_logging" value="$(arg enable_logging)"/>
    <arg name="path_type" value="$(arg path_type)"/>
    <arg name="endless" value="$(arg endless)"/>
    <arg name="b" value="$(arg b)"/>
    <arg name="k1" value="$(arg k1)"/>
    <arg name="k2" value="$(arg k2)"/>
    <arg name="vmax" value="$(arg vmax)"/>
    <arg name="wmax" value="$(arg wmax)"/>
    <arg name="wd" value="$(arg wd)"/>
    <arg name="R" value="$(arg R)"/>
    <arg name="R1" value="$(arg R1)"/>
    <arg name="R2" value="$(arg R2)"/>
    <arg name="n" value="$(arg n)"/>
    <arg name="ds" value="$(arg ds)"/>
    <arg name="dc" value="$(arg dc)"/>
    <arg name="gazebo" value="$(arg gazebo)"/>
    <arg name="xc" value="$(arg xc)"/>
    <arg name="yc" value="$(arg yc)"/>
    <arg name="z" value="0.1"/>
    <arg name="rover_number" value="6"/>
    <arg name="agent_index" value="6"/>
    <arg name="ugv_name" value="R6"/>
    <arg name="Ri" value="15"/>
    <arg name="T" value="30"/>
    <arg name="poly_k" value="60"/>
    <arg name="qf_y" value="-0.0078972"/>
    <arg name="gdb_xterm_output" value="0"/>
    <arg name="y" value="1.2246467991473533e-15"/>
    <arg name="qf_x" value="-9.9225"/>
    <arg name="alphai" value="3.141592653589793"/>
    <arg name="name_space" value="R6"/>
    <arg name="qi_y" value="-0.053919"/>
    <arg name="qi_theta" value="1.5498"/>
    <arg name="yaw" value="1.5708"/>
    <arg name="qi_x" value="9.9662"/>
    <arg name="qf_theta" value="1.5918"/>
    <arg name="x" value="-10.0"/>
  </include>
  <include file="$(find rcomv_r1)/launch/IO_launch/ugv_with_IO_collision.launch">
    <arg name="enable_logging" value="$(arg enable_logging)"/>
    <arg name="path_type" value="$(arg path_type)"/>
    <arg name="endless" value="$(arg endless)"/>
    <arg name="b" value="$(arg b)"/>
    <arg name="k1" value="$(arg k1)"/>
    <arg name="k2" value="$(arg k2)"/>
    <arg name="vmax" value="$(arg vmax)"/>
    <arg name="wmax" value="$(arg wmax)"/>
    <arg name="wd" value="$(arg wd)"/>
    <arg name="R" value="$(arg R)"/>
    <arg name="R1" value="$(arg R1)"/>
    <arg name="R2" value="$(arg R2)"/>
    <arg name="n" value="$(arg n)"/>
    <arg name="ds" value="$(arg ds)"/>
    <arg name="dc" value="$(arg dc)"/>
    <arg name="gazebo" value="$(arg gazebo)"/>
    <arg name="xc" value="$(arg xc)"/>
    <arg name="yc" value="$(arg yc)"/>
    <arg name="z" value="0.1"/>
    <arg name="rover_number" value="7"/>
    <arg name="agent_index" value="7"/>
    <arg name="ugv_name" value="R7"/>
    <arg name="Ri" value="15"/>
    <arg name="T" value="30"/>
    <arg name="poly_k" value="60"/>
    <arg name="qf_y" value="-0.0078972"/>
    <arg name="gdb_xterm_output" value="0"/>
    <arg name="y" value="-5.87785252292473"/>
    <arg name="qf_x" value="-9.9225"/>
    <arg name="alphai" value="3.7699111843077517"/>
    <arg name="name_space" value="R7"/>
    <arg name="qi_y" value="-0.053919"/>
    <arg name="qi_theta" value="1.5498"/>
    <arg name="yaw" value="1.5708"/>
    <arg name="qi_x" value="9.9662"/>
    <arg name="qf_theta" value="1.5918"/>
    <arg name="x" value="-8.090169943749476"/>
  </include>
  <include file="$(find rcomv_r1)/launch/IO_launch/ugv_with_IO_collision.launch">
    <arg name="enable_logging" value="$(arg enable_logging)"/>
    <arg name="path_type" value="$(arg path_type)"/>
    <arg name="endless" value="$(arg endless)"/>
    <arg name="b" value="$(arg b)"/>
    <arg name="k1" value="$(arg k1)"/>
    <arg name="k2" value="$(arg k2)"/>
    <arg name="vmax" value="$(arg vmax)"/>
    <arg name="wmax" value="$(arg wmax)"/>
    <arg name="wd" value="$(arg wd)"/>
    <arg name="R" value="$(arg R)"/>
    <arg name="R1" value="$(arg R1)"/>
    <arg name="R2" value="$(arg R2)"/>
    <arg name="n" value="$(arg n)"/>
    <arg name="ds" value="$(arg ds)"/>
    <arg name="dc" value="$(arg dc)"/>
    <arg name="gazebo" value="$(arg gazebo)"/>
    <arg name="xc" value="$(arg xc)"/>
    <arg name="yc" value="$(arg yc)"/>
    <arg name="z" value="0.1"/>
    <arg name="rover_number" value="8"/>
    <arg name="agent_index" value="8"/>
    <arg name="ugv_name" value="R8"/>
    <arg name="Ri" value="15"/>
    <arg name="T" value="30"/>
    <arg name="poly_k" value="60"/>
    <arg name="qf_y" value="-0.0078972"/>
    <arg name="gdb_xterm_output" value="0"/>
    <arg name="y" value="-9.510565162951535"/>
    <arg name="qf_x" value="-9.9225"/>
    <arg name="alphai" value="4.39822971502571"/>
    <arg name="name_space" value="R8"/>
    <arg name="qi_y" value="-0.053919"/>
    <arg name="qi_theta" value="1.5498"/>
    <arg name="yaw" value="1.5708"/>
    <arg name="qi_x" value="9.9662"/>
    <arg name="qf_theta" value="1.5918"/>
    <arg name="x" value="-3.0901699437494754"/>
  </include>
  <include file="$(find rcomv_r1)/launch/IO_launch/ugv_with_IO_collision.launch">
    <arg name="enable_logging" value="$(arg enable_logging)"/>
    <arg name="path_type" value="$(arg path_type)"/>
    <arg name="endless" value="$(arg endless)"/>
    <arg name="b" value="$(arg b)"/>
    <arg name="k1" value="$(arg k1)"/>
    <arg name="k2" value="$(arg k2)"/>
    <arg name="vmax" value="$(arg vmax)"/>
    <arg name="wmax" value="$(arg wmax)"/>
    <arg name="wd" value="$(arg wd)"/>
    <arg name="R" value="$(arg R)"/>
    <arg name="R1" value="$(arg R1)"/>
    <arg name="R2" value="$(arg R2)"/>
    <arg name="n" value="$(arg n)"/>
    <arg name="ds" value="$(arg ds)"/>
    <arg name="dc" value="$(arg dc)"/>
    <arg name="gazebo" value="$(arg gazebo)"/>
    <arg name="xc" value="$(arg xc)"/>
    <arg name="yc" value="$(arg yc)"/>
    <arg name="z" value="0.1"/>
    <arg name="rover_number" value="9"/>
    <arg name="agent_index" value="9"/>
    <arg name="ugv_name" value="R9"/>
    <arg name="Ri" value="15"/>
    <arg name="T" value="30"/>
    <arg name="poly_k" value="60"/>
    <arg name="qf_y" value="-0.0078972"/>
    <arg name="gdb_xterm_output" value="0"/>
    <arg name="y" value="-9.510565162951536"/>
    <arg name="qf_x" value="-9.9225"/>
    <arg name="alphai" value="5.026548245743669"/>
    <arg name="name_space" value="R9"/>
    <arg name="qi_y" value="-0.053919"/>
    <arg name="qi_theta" value="1.5498"/>
    <arg name="yaw" value="1.5708"/>
    <arg name="qi_x" value="9.9662"/>
    <arg name="qf_theta" value="1.5918"/>
    <arg name="x" value="3.0901699437494723"/>
  </include>
  <include file="$(find rcomv_r1)/launch/IO_launch/ugv_with_IO_collision.launch">
    <arg name="enable_logging" value="$(arg enable_logging)"/>
    <arg name="path_type" value="$(arg path_type)"/>
    <arg name="endless" value="$(arg endless)"/>
    <arg name="b" value="$(arg b)"/>
    <arg name="k1" value="$(arg k1)"/>
    <arg name="k2" value="$(arg k2)"/>
    <arg name="vmax" value="$(arg vmax)"/>
    <arg name="wmax" value="$(arg wmax)"/>
    <arg name="wd" value="$(arg wd)"/>
    <arg name="R" value="$(arg R)"/>
    <arg name="R1" value="$(arg R1)"/>
    <arg name="R2" value="$(arg R2)"/>
    <arg name="n" value="$(arg n)"/>
    <arg name="ds" value="$(arg ds)"/>
    <arg name="dc" value="$(arg dc)"/>
    <arg name="gazebo" value="$(arg gazebo)"/>
    <arg name="xc" value="$(arg xc)"/>
    <arg name="yc" value="$(arg yc)"/>
    <arg name="z" value="0.1"/>
    <arg name="rover_number" value="10"/>
    <arg name="agent_index" value="10"/>
    <arg name="ugv_name" value="R10"/>
    <arg name="Ri" value="15"/>
    <arg name="T" value="30"/>
    <arg name="poly_k" value="60"/>
    <arg name="qf_y" value="-0.0078972"/>
    <arg name="gdb_xterm_output" value="0"/>
    <arg name="y" value="-5.877852522924734"/>
    <arg name="qf_x" value="-9.9225"/>
    <arg name="alphai" value="5.654866776461628"/>
    <arg name="name_space" value="R10"/>
    <arg name="qi_y" value="-0.053919"/>
    <arg name="qi_theta" value="1.5498"/>
    <arg name="yaw" value="1.5708"/>
    <arg name="qi_x" value="9.9662"/>
    <arg name="qf_theta" value="1.5918"/>
    <arg name="x" value="8.090169943749473"/>
  </include>
  <node name="switch_node" pkg="rcomv_r1" type="switch"/>
  <node name="builder_node" pkg="state_graph_builder" type="builder">
    <param name="n" value="$(arg n)"/>
    <param name="gazebo" value="$(arg gazebo)"/>
    <param name="base_ns" value="/R"/>
  </node>
  <node name="msrpa_node1" ns="R1" pkg="rcomv_r1" type="msrpa_node">
    <param name="n" value="$(arg n)"/>
    <param name="k" value="$(arg k)"/>
    <param name="F" value="$(arg F)"/>
    <param name="eta" value="$(arg eta)"/>
    <param name="radius" value="$(arg radius)"/>
    <param name="t0" value="$(arg t0)"/>
    <param name="xc" value="$(arg xc)"/>
    <param name="yc" value="$(arg yc)"/>
    <param name="Rad" value="$(arg Rad)"/>
    <param name="wd" value="$(arg wd)"/>
    <param name="phi0" value="$(arg phi0)"/>
    <param name="leng" value="$(arg leng)"/>
    <param name="psi" value="$(arg psi)"/>
    <param name="v" value="$(arg v)"/>
    <param name="start_L" value="$(arg start_L)"/>
    <param name="common_namespace" value="$(arg common_namespace)"/>
    <param name="trajectory_type" value="circular"/>
    <param name="role" value="3"/>
    <param name="idx" value="1"/>
  </node>
  <node name="msrpa_node2" ns="R2" pkg="rcomv_r1" type="msrpa_node">
    <param name="n" value="$(arg n)"/>
    <param name="k" value="$(arg k)"/>
    <param name="F" value="$(arg F)"/>
    <param name="eta" value="$(arg eta)"/>
    <param name="radius" value="$(arg radius)"/>
    <param name="t0" value="$(arg t0)"/>
    <param name="xc" value="$(arg xc)"/>
    <param name="yc" value="$(arg yc)"/>
    <param name="Rad" value="$(arg Rad)"/>
    <param name="wd" value="$(arg wd)"/>
    <param name="phi0" value="$(arg phi0)"/>
    <param name="leng" value="$(arg leng)"/>
    <param name="psi" value="$(arg psi)"/>
    <param name="v" value="$(arg v)"/>
    <param name="start_L" value="$(arg start_L)"/>
    <param name="common_namespace" value="$(arg common_namespace)"/>
    <param name="trajectory_type" value="circular"/>
    <param name="role" value="3"/>
    <param name="idx" value="2"/>
  </node>
  <node name="msrpa_node3" ns="R3" pkg="rcomv_r1" type="msrpa_node">
    <param name="n" value="$(arg n)"/>
    <param name="k" value="$(arg k)"/>
    <param name="F" value="$(arg F)"/>
    <param name="eta" value="$(arg eta)"/>
    <param name="radius" value="$(arg radius)"/>
    <param name="t0" value="$(arg t0)"/>
    <param name="xc" value="$(arg xc)"/>
    <param name="yc" value="$(arg yc)"/>
    <param name="Rad" value="$(arg Rad)"/>
    <param name="wd" value="$(arg wd)"/>
    <param name="phi0" value="$(arg phi0)"/>
    <param name="leng" value="$(arg leng)"/>
    <param name="psi" value="$(arg psi)"/>
    <param name="v" value="$(arg v)"/>
    <param name="start_L" value="$(arg start_L)"/>
    <param name="common_namespace" value="$(arg common_namespace)"/>
    <param name="trajectory_type" value="circular"/>
    <param name="role" value="3"/>
    <param name="idx" value="3"/>
  </node>
  <node name="msrpa_node4" ns="R4" pkg="rcomv_r1" type="msrpa_node">
    <param name="n" value="$(arg n)"/>
    <param name="k" value="$(arg k)"/>
    <param name="F" value="$(arg F)"/>
    <param name="eta" value="$(arg eta)"/>
    <param name="radius" value="$(arg radius)"/>
    <param name="t0" value="$(arg t0)"/>
    <param name="xc" value="$(arg xc)"/>
    <param name="yc" value="$(arg yc)"/>
    <param name="Rad" value="$(arg Rad)"/>
    <param name="wd" value="$(arg wd)"/>
    <param name="phi0" value="$(arg phi0)"/>
    <param name="leng" value="$(arg leng)"/>
    <param name="psi" value="$(arg psi)"/>
    <param name="v" value="$(arg v)"/>
    <param name="start_L" value="$(arg start_L)"/>
    <param name="common_namespace" value="$(arg common_namespace)"/>
    <param name="role" value="2"/>
    <param name="idx" value="4"/>
  </node>
  <node name="msrpa_node5" ns="R5" pkg="rcomv_r1" type="msrpa_node">
    <param name="n" value="$(arg n)"/>
    <param name="k" value="$(arg k)"/>
    <param name="F" value="$(arg F)"/>
    <param name="eta" value="$(arg eta)"/>
    <param name="radius" value="$(arg radius)"/>
    <param name="t0" value="$(arg t0)"/>
    <param name="xc" value="$(arg xc)"/>
    <param name="yc" value="$(arg yc)"/>
    <param name="Rad" value="$(arg Rad)"/>
    <param name="wd" value="$(arg wd)"/>
    <param name="phi0" value="$(arg phi0)"/>
    <param name="leng" value="$(arg leng)"/>
    <param name="psi" value="$(arg psi)"/>
    <param name="v" value="$(arg v)"/>
    <param name="start_L" value="$(arg start_L)"/>
    <param name="common_namespace" value="$(arg common_namespace)"/>
    <param name="role" value="2"/>
    <param name="idx" value="5"/>
  </node>
  <node name="msrpa_node6" ns="R6" pkg="rcomv_r1" type="msrpa_node">
    <param name="n" value="$(arg n)"/>
    <param name="k" value="$(arg k)"/>
    <param name="F" value="$(arg F)"/>
    <param name="eta" value="$(arg eta)"/>
    <param name="radius" value="$(arg radius)"/>
    <param name="t0" value="$(arg t0)"/>
    <param name="xc" value="$(arg xc)"/>
    <param name="yc" value="$(arg yc)"/>
    <param name="Rad" value="$(arg Rad)"/>
    <param name="wd" value="$(arg wd)"/>
    <param name="phi0" value="$(arg phi0)"/>
    <param name="leng" value="$(arg leng)"/>
    <param name="psi" value="$(arg psi)"/>
    <param name="v" value="$(arg v)"/>
    <param name="start_L" value="$(arg start_L)"/>
    <param name="common_namespace" value="$(arg common_namespace)"/>
    <param name="role" value="2"/>
    <param name="idx" value="6"/>
  </node>
  <node name="msrpa_node7" ns="R7" pkg="rcomv_r1" type="msrpa_node">
    <param name="n" value="$(arg n)"/>
    <param name="k" value="$(arg k)"/>
    <param name="F" value="$(arg F)"/>
    <param name="eta" value="$(arg eta)"/>
    <param name="radius" value="$(arg radius)"/>
    <param name="t0" value="$(arg t0)"/>
    <param name="xc" value="$(arg xc)"/>
    <param name="yc" value="$(arg yc)"/>
    <param name="Rad" value="$(arg Rad)"/>
    <param name="wd" value="$(arg wd)"/>
    <param name="phi0" value="$(arg phi0)"/>
    <param name="leng" value="$(arg leng)"/>
    <param name="psi" value="$(arg psi)"/>
    <param name="v" value="$(arg v)"/>
    <param name="start_L" value="$(arg start_L)"/>
    <param name="common_namespace" value="$(arg common_namespace)"/>
    <param name="role" value="2"/>
    <param name="idx" value="7"/>
  </node>
  <node name="msrpa_node8" ns="R8" pkg="rcomv_r1" type="msrpa_node">
    <param name="n" value="$(arg n)"/>
    <param name="k" value="$(arg k)"/>
    <param name="F" value="$(arg F)"/>
    <param name="eta" value="$(arg eta)"/>
    <param name="radius" value="$(arg radius)"/>
    <param name="t0" value="$(arg t0)"/>
    <param name="xc" value="$(arg xc)"/>
    <param name="yc" value="$(arg yc)"/>
    <param name="Rad" value="$(arg Rad)"/>
    <param name="wd" value="$(arg wd)"/>
    <param name="phi0" value="$(arg phi0)"/>
    <param name="leng" value="$(arg leng)"/>
    <param name="psi" value="$(arg psi)"/>
    <param name="v" value="$(arg v)"/>
    <param name="start_L" value="$(arg start_L)"/>
    <param name="common_namespace" value="$(arg common_namespace)"/>
    <param name="role" value="2"/>
    <param name="idx" value="8"/>
  </node>
  <node name="msrpa_node9" ns="R9" pkg="rcomv_r1" type="msrpa_node">
    <param name="n" value="$(arg n)"/>
    <param name="k" value="$(arg k)"/>
    <param name="F" value="$(arg F)"/>
    <param name="eta" value="$(arg eta)"/>
    <param name="radius" value="$(arg radius)"/>
    <param name="t0" value="$(arg t0)"/>
    <param name="xc" value="$(arg xc)"/>
    <param name="yc" value="$(arg yc)"/>
    <param name="Rad" value="$(arg Rad)"/>
    <param name="wd" value="$(arg wd)"/>
    <param name="phi0" value="$(arg phi0)"/>
    <param name="leng" value="$(arg leng)"/>
    <param name="psi" value="$(arg psi)"/>
    <param name="v" value="$(arg v)"/>
    <param name="start_L" value="$(arg start_L)"/>
    <param name="common_namespace" value="$(arg common_namespace)"/>
    <param name="role" value="2"/>
    <param name="idx" value="9"/>
  </node>
  <node name="msrpa_node10" ns="R10" pkg="rcomv_r1" type="msrpa_node">
    <param name="n" value="$(arg n)"/>
    <param name="k" value="$(arg k)"/>
    <param name="F" value="$(arg F)"/>
    <param name="eta" value="$(arg eta)"/>
    <param name="radius" value="$(arg radius)"/>
    <param name="t0" value="$(arg t0)"/>
    <param name="xc" value="$(arg xc)"/>
    <param name="yc" value="$(arg yc)"/>
    <param name="Rad" value="$(arg Rad)"/>
    <param name="wd" value="$(arg wd)"/>
    <param name="phi0" value="$(arg phi0)"/>
    <param name="leng" value="$(arg leng)"/>
    <param name="psi" value="$(arg psi)"/>
    <param name="v" value="$(arg v)"/>
    <param name="start_L" value="$(arg start_L)"/>
    <param name="common_namespace" value="$(arg common_namespace)"/>
    <param name="role" value="2"/>
    <param name="idx" value="10"/>
  </node>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs1 -x 40.0 -y 0.0" name="obs1" pkg="gazebo_ros" type="spawn_model"/>
  <node args="-file $(find rcomv_r1)/models/pickup/model.sdf -sdf -model obs2 -x -40.0 -y 0.0" name="obs2" pkg="gazebo_ros" type="spawn_model"/>
</launch>

