<?xml version="1.0" ?>
<launch>
  <arg default="1" name="number_of_obstacles"/>
  <arg default="true" name="enable_logging"/>
  <arg default="1.0" name="wmax"/>
  <arg default="0" name="phi0"/>
  <arg default="1" name="R2"/>
  <arg default="r1_sim" name="ugv_name"/>
  <arg default=".25" name="ds"/>
  <arg default="true" name="enable_ground_truth"/>
  <arg default=".5" name="dc"/>
  <arg default="1" name="k"/>
  <arg default="0" name="xc"/>
  <arg default="30" name="T"/>
  <arg default="true" name="endless"/>
  <arg default="0.05" name="b"/>
  <arg default="0" name="psi"/>
  <arg default="-10" name="qf_x"/>
  <arg default="0" name="qf_y"/>
  <arg default="10" name="qi_x"/>
  <arg default="0" name="gazebo"/>
  <arg default="1.5708" name="qf_theta"/>
  <arg default="10" name="eta"/>
  <arg default="60" name="poly_k"/>
  <arg default="0" name="t0"/>
  <arg default="-1" name="yc"/>
  <arg default="2" name="Rad"/>
  <arg default="0" name="qi_y"/>
  <arg default="[1.0]" name="obstacle_radii"/>
  <arg default="10" name="leng"/>
  <arg default="1" name="R1"/>
  <arg default="0.09" name="wd"/>
  <arg default="1" name="radius"/>
  <arg default="0.5" name="k1"/>
  <arg default="0" name="v"/>
  <arg default="0" name="start_L"/>
  <arg default="circular" name="path_type"/>
  <arg default="basic" name="world_name"/>
  <arg default="0.5" name="k2"/>
  <arg default="1.5708" name="qi_theta"/>
  <arg default="0.5" name="vmax"/>
  <arg default="R" name="common_namespace"/>
  <arg default="2" name="R"/>
  <arg default="1" name="n"/>
  <arg default="0" name="F"/>
  <include file="$(find rcomv_r1)/launch/IO_launch/ugv_with_IO_collision.launch" if="1">
    <arg name="enable_logging" value="$(arg enable_logging)"/>
    <arg name="path_type" value="$(arg path_type)"/>
    <arg name="endless" value="$(arg endless)"/>
    <arg name="b" value="$(arg b)"/>
    <arg name="k1" value="$(arg k1)"/>
    <arg name="k2" value="$(arg k2)"/>
    <arg name="vmax" value="$(arg vmax)"/>
    <arg name="wmax" value="$(arg wmax)"/>
    <arg name="wd" value="$(arg wd)"/>
    <arg name="R" value="$(arg R)"/>
    <arg name="R1" value="$(arg R1)"/>
    <arg name="R2" value="$(arg R2)"/>
    <arg name="n" value="$(arg n)"/>
    <arg name="ds" value="$(arg ds)"/>
    <arg name="dc" value="$(arg dc)"/>
    <arg name="gazebo" value="$(arg gazebo)"/>
    <arg name="xc" value="$(arg xc)"/>
    <arg name="yc" value="$(arg yc)"/>
    <arg name="obstacle_radii" value="$(arg obstacle_radii)"/>
    <arg name="number_of_obstacles" value="$(arg number_of_obstacles)"/>
    <arg name="x" value="0"/>
    <arg name="ugv_name" value="R4"/>
    <arg name="z" value="0.1"/>
    <arg name="T" value="30"/>
    <arg name="qf_x" value="-9.9225"/>
    <arg name="qf_y" value="-0.0078972"/>
    <arg name="qi_x" value="9.9662"/>
    <arg name="qf_theta" value="1.5918"/>
    <arg name="qi_y" value="-0.053919"/>
    <arg name="y" value="-2.5"/>
    <arg name="yaw" value="1.5708"/>
    <arg name="name_space" value="R4"/>
    <arg name="Ri" value="1"/>
    <arg name="alphai" value="1.5707963267948966"/>
    <arg name="rover_number" value="4"/>
    <arg name="qi_theta" value="1.5498"/>
    <arg name="poly_k" value="60"/>
    <arg name="agent_index" value="1"/>
    <arg name="gdb_xterm_output" value="1"/>
  </include>
  <node launch-prefix="xterm -e gdb -ex run --args" name="builder_node" output="screen" pkg="state_graph_builder" type="builder">
    <param name="n" value="$(arg n)"/>
    <param name="gazebo" value="$(arg gazebo)"/>
    <param name="base_ns" value="/R"/>
  </node>
  <node launch-prefix="xterm -e gdb -ex run --args" name="msrpa_node1" ns="R4" output="screen" pkg="rcomv_r1" type="msrpa_node">
    <param name="n" value="$(arg n)"/>
    <param name="k" value="$(arg k)"/>
    <param name="F" value="$(arg F)"/>
    <param name="eta" value="$(arg eta)"/>
    <param name="radius" value="$(arg radius)"/>
    <param name="t0" value="$(arg t0)"/>
    <param name="xc" value="$(arg xc)"/>
    <param name="yc" value="$(arg yc)"/>
    <param name="Rad" value="$(arg Rad)"/>
    <param name="wd" value="$(arg wd)"/>
    <param name="phi0" value="$(arg phi0)"/>
    <param name="leng" value="$(arg leng)"/>
    <param name="psi" value="$(arg psi)"/>
    <param name="v" value="$(arg v)"/>
    <param name="start_L" value="$(arg start_L)"/>
    <param name="common_namespace" value="$(arg common_namespace)"/>
    <param name="idx" value="1"/>
    <param name="trajectory_type" value="circular"/>
    <param name="role" value="3"/>
    <rosparam param="in_neighbors">[4]</rosparam>
  </node>
</launch>

