<?xml version="1.0" ?>
<launch>
  <arg default="4" name="n"/>
  <arg default="10" name="leng"/>
  <arg default="0" name="v"/>
  <arg default="0" name="wd"/>
  <arg default="0" name="start_L"/>
  <arg default="0" name="xc"/>
  <arg default="2" name="k"/>
  <arg default="0" name="phi0"/>
  <arg default="10" name="eta"/>
  <arg default="R" name="common_namespace"/>
  <arg default="0" name="yc"/>
  <arg default="0" name="psi"/>
  <arg default="10" name="Rad"/>
  <arg default="1" name="F"/>
  <arg default="0" name="t0"/>
  <arg default="5" name="radius"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rcomv_uav)/worlds/basic.world"/>
    <arg name="paused" value="true"/>
  </include>
  <node launch-prefix="xterm -e" name="switch_node" output="screen" pkg="rcomv_r1" type="switch"/>
  <node launch-prefix="xterm -e gdb -ex run --args" name="msrpa_node1" ns="R1" output="screen" pkg="rcomv_r1" type="msrpa_node">
    <param name="n" value="$(arg n)"/>
    <param name="k" value="$(arg k)"/>
    <param name="F" value="$(arg F)"/>
    <param name="eta" value="$(arg eta)"/>
    <param name="radius" value="$(arg radius)"/>
    <param name="t0" value="$(arg t0)"/>
    <param name="xc" value="$(arg xc)"/>
    <param name="yc" value="$(arg yc)"/>
    <param name="Rad" value="$(arg Rad)"/>
    <param name="wd" value="$(arg wd)"/>
    <param name="phi0" value="$(arg phi0)"/>
    <param name="leng" value="$(arg leng)"/>
    <param name="psi" value="$(arg psi)"/>
    <param name="v" value="$(arg v)"/>
    <param name="start_L" value="$(arg start_L)"/>
    <param name="common_namespace" value="$(arg common_namespace)"/>
    <param name="idx" value="1"/>
    <param name="role" value="2"/>
  </node>
  <node launch-prefix="xterm -e gdb -ex run --args" name="msrpa_node2" ns="R2" output="screen" pkg="rcomv_r1" type="msrpa_node">
    <param name="n" value="$(arg n)"/>
    <param name="k" value="$(arg k)"/>
    <param name="F" value="$(arg F)"/>
    <param name="eta" value="$(arg eta)"/>
    <param name="radius" value="$(arg radius)"/>
    <param name="t0" value="$(arg t0)"/>
    <param name="xc" value="$(arg xc)"/>
    <param name="yc" value="$(arg yc)"/>
    <param name="Rad" value="$(arg Rad)"/>
    <param name="wd" value="$(arg wd)"/>
    <param name="phi0" value="$(arg phi0)"/>
    <param name="leng" value="$(arg leng)"/>
    <param name="psi" value="$(arg psi)"/>
    <param name="v" value="$(arg v)"/>
    <param name="start_L" value="$(arg start_L)"/>
    <param name="common_namespace" value="$(arg common_namespace)"/>
    <param name="idx" value="2"/>
    <param name="role" value="3"/>
  </node>
  <node launch-prefix="xterm -e gdb -ex run --args" name="msrpa_node3" ns="R3" output="screen" pkg="rcomv_r1" type="msrpa_node">
    <param name="n" value="$(arg n)"/>
    <param name="k" value="$(arg k)"/>
    <param name="F" value="$(arg F)"/>
    <param name="eta" value="$(arg eta)"/>
    <param name="radius" value="$(arg radius)"/>
    <param name="t0" value="$(arg t0)"/>
    <param name="xc" value="$(arg xc)"/>
    <param name="yc" value="$(arg yc)"/>
    <param name="Rad" value="$(arg Rad)"/>
    <param name="wd" value="$(arg wd)"/>
    <param name="phi0" value="$(arg phi0)"/>
    <param name="leng" value="$(arg leng)"/>
    <param name="psi" value="$(arg psi)"/>
    <param name="v" value="$(arg v)"/>
    <param name="start_L" value="$(arg start_L)"/>
    <param name="common_namespace" value="$(arg common_namespace)"/>
    <param name="idx" value="3"/>
    <param name="role" value="3"/>
  </node>
  <node launch-prefix="xterm -e gdb -ex run --args" name="msrpa_node4" ns="R4" output="screen" pkg="rcomv_r1" type="msrpa_node">
    <param name="n" value="$(arg n)"/>
    <param name="k" value="$(arg k)"/>
    <param name="F" value="$(arg F)"/>
    <param name="eta" value="$(arg eta)"/>
    <param name="radius" value="$(arg radius)"/>
    <param name="t0" value="$(arg t0)"/>
    <param name="xc" value="$(arg xc)"/>
    <param name="yc" value="$(arg yc)"/>
    <param name="Rad" value="$(arg Rad)"/>
    <param name="wd" value="$(arg wd)"/>
    <param name="phi0" value="$(arg phi0)"/>
    <param name="leng" value="$(arg leng)"/>
    <param name="psi" value="$(arg psi)"/>
    <param name="v" value="$(arg v)"/>
    <param name="start_L" value="$(arg start_L)"/>
    <param name="common_namespace" value="$(arg common_namespace)"/>
    <param name="idx" value="4"/>
    <param name="role" value="2"/>
  </node>
</launch>

