<?xml version="1.0"?>
<launch>
  <arg name="Ri" default="0" />
  <arg name="alphai" default="0">
  <arg name="b" default="0.05" />
  <arg name="k1" default="0.1" />
  <arg name="k2" default="0.2"/>
  <arg name="vmax" default=".8" />
  <arg name="wmax" default="1.5"/>
  <arg name="path_type" default="circular" />
  <arg name="xc" default="0" />
  <arg name="yc" default="-1.0" />
  <arg name="R" default="1.0" />
  <arg name="R1" default="5" />
  <arg name="R2" default="10" />
  <arg name="wd" default="0.2" />
  <arg name="qi_x" default="0.9662" /> <arg name="qi_y" default="-0.053919" /> <arg name="qi_theta" default="1.5498" />
  <arg name="qf_x" default="-0.9225" /> <arg name="qf_y" default="-0.0078972" /> <arg name="qf_theta" default="1.5918" />
  <arg name="poly_k" default="5" />
  <arg name="T" default="1000" />
  <arg name="endless" default="true" />

<!-- Agent 1 -->
<node name="InOutLin_controller_node" pkg="rcomv_r1" type="InputOutputLin_Controller" launch-prefix="xterm -e" output="screen">
    
    <!-- Generally Global Parameters -->
    <param name="b" value="$(arg b)" />
    <param name="k1" value="$(arg k1)" />
    <param name="k2" value="$(arg k2)"/>
    <param name="vmax" value="$(arg vmax)" />
    <param name="wmax" value="$(arg wmax)"/>

    <param name="path_type" value="$(arg path_type)" />
    <param name="xc" value="$(arg xc)" />
    <param name="yc" value="$(arg yc)" />
    <param name="R" value="$(arg R)" />
    <param name="R1" value="$(arg R1)" />
    <param name="R2" value="$(arg R2)" />
    <param name="wd" value="$(arg wd)" />

    <param name="qi_x" value="$(arg qi_x)" />
    <param name="qi_y" value="$(arg qi_y)" />
    <param name="qi_theta" value="$(arg qi_theta)" />
    <param name="qf_x" value="$(arg qf_x)" />
    <param name="qf_y" value="$(arg qf_y)" />
    <param name="qf_theta" value="$(arg qf_theta)" />
    <param name="poly_k" value="$(arg poly_k)" />
    <param name="T" value="$(arg T)" />
    <param name="endless" value="$(arg endless)" />
    <param name="indoors_rover_bool" value="true"/>

    <!-- Local Parameters -->
    <param name="Ri" value="$(arg Ri)" />
    <param name="alphai" value="$(arg alphai)"/>

    <!-- !!! Don't forget to change to the agent's number! -->
    <param name="rover_number" value="1"/>
</node>

<!-- Agent 2 -->
<node name="InOutLin_controller_node" pkg="rcomv_r1" type="InputOutputLin_Controller" launch-prefix="xterm -e" output="screen">

    <!-- Generally Global Parameters -->
    <param name="b" value="$(arg b)" />
    <param name="k1" value="$(arg k1)" />
    <param name="k2" value="$(arg k2)"/>
    <param name="vmax" value="$(arg vmax)" />
    <param name="wmax" value="$(arg wmax)"/>


    <param name="path_type" value="$(arg path_type)" />
    <param name="xc" value="$(arg xc)" />
    <param name="yc" value="$(arg yc)" />
    <param name="R" value="$(arg R)" />
    <param name="R1" value="$(arg R1)" />
    <param name="R2" value="$(arg R2)" />
    <param name="wd" value="$(arg wd)" />

    <param name="qi_x" value="$(arg qi_x)" />
    <param name="qi_y" value="$(arg qi_y)" />
    <param name="qi_theta" value="$(arg qi_theta)" />
    <param name="qf_x" value="$(arg qf_x)" />
    <param name="qf_y" value="$(arg qf_y)" />
    <param name="qf_theta" value="$(arg qf_theta)" />
    <param name="poly_k" value="$(arg poly_k)" />
    <param name="T" value="$(arg T)" />
    <param name="endless" value="$(arg endless)" />
    <param name="indoors_rover_bool" value="true"/>

    <!-- Local Parameters -->
    <param name="Ri" value=".5" />
    <param name="alphai" value="-0.78539"/>

    <!-- !!! Don't forget to change to the agent's number! -->
    <param name="rover_number" value="2"/>
</node>

<!-- Agent 3 -->
<node name="InOutLin_controller_node" pkg="rcomv_r1" type="InputOutputLin_Controller" launch-prefix="xterm -e" output="screen">

    <!-- Generally Global Parameters -->
    <param name="b" value="$(arg b)" />
    <param name="k1" value="$(arg k1)" />
    <param name="k2" value="$(arg k2)"/>
    <param name="vmax" value="$(arg vmax)" />
    <param name="wmax" value="$(arg wmax)"/>


    <param name="path_type" value="$(arg path_type)" />
    <param name="xc" value="$(arg xc)" />
    <param name="yc" value="$(arg yc)" />
    <param name="R" value="$(arg R)" />
    <param name="R1" value="$(arg R1)" />
    <param name="R2" value="$(arg R2)" />
    <param name="wd" value="$(arg wd)" />

    <param name="qi_x" value="$(arg qi_x)" />
    <param name="qi_y" value="$(arg qi_y)" />
    <param name="qi_theta" value="$(arg qi_theta)" />
    <param name="qf_x" value="$(arg qf_x)" />
    <param name="qf_y" value="$(arg qf_y)" />
    <param name="qf_theta" value="$(arg qf_theta)" />
    <param name="poly_k" value="$(arg poly_k)" />
    <param name="T" value="$(arg T)" />
    <param name="endless" value="$(arg endless)" />
    <param name="indoors_rover_bool" value="true"/>

    <!-- Local Parameters -->
    <param name="Ri" value=".5" />
    <param name="alphai" value="3.92699"/>

    <!-- !!! Don't forget to change to the agent's number! -->
    <param name="rover_number" value="3"/>
</node>

</launch>
