<?xml version="1.0" encoding="utf-8"?>
<launch>
   <arg default="r1_sim" name="ugv_name"/>
   <arg default="basic" name="world_name"/>
   <arg default="true" name="enable_logging"/>
   <arg default="true" name="enable_ground_truth"/>
   <arg default="$(arg ugv_name)" name="log_file"/>
   <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models"/>
   <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/models"/>
   <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find rcomv_uav)/worlds/$(arg world_name).world"/>
      <arg name="paused" value="true"/>
   </include>
   <arg default="true" name="wmsr_node"/>
   <arg default="16" name="n"/>
   <arg default="7" name="k"/>
   <arg default="1" name="F"/>
   <arg default="10" name="qi_x"/><!--reference cubic polynomial path-->
   <arg default="0" name="qi_y"/>
   <arg default="1.5708" name="qi_theta"/>
   <arg default="-10" name="qf_x"/>
   <arg default="0" name="qf_y"/>
   <arg default="4.7124" name="qf_theta"/>
   <arg default="40" name="poly_k"/>
   <arg default="30" name="T"/>
   <arg default="0" name="endless"/>
   <arg default="0.05" name="b"/><!--controller paramters-->
   <arg default="0.5" name="k1"/>
   <arg default="0.5" name="k2"/>
   <arg default="2" name="vmax"/>
   <arg default="4" name="wmax"/>
   <node launch-prefix="xterm -e" name="switch_node" output="screen" pkg="rcomv_r1" type="switch"/><!--upper level switch node-->
   <include file="$(find rcomv_r1)/launch/ugv_with_InOutLin_control.launch"><!--start of ugv1-->
      <arg name="wmsr_node" value="$(arg wmsr_node)"/>
      <arg name="n" value="$(arg n)"/><!--size of the formation-->
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="ugv_name" value="$(arg ugv_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="ugv1"/><!--group namespace-->
      <arg name="idx" value="1"/><!--idex and type of the agent-->
      <arg name="role" value="2"/>
      <arg name="x" value="8"/><!--initial_pose-->
      <arg name="y" value="2"/>
      <arg name="z" value="0.1"/>
      <arg name="yaw" value="1.5708"/>
      <arg name="Ri" value="2.8284"/>
      <arg name="alphai" value="0.7854"/>
      <arg name="qi_x" value="8.5764"/><!--reference cubic polynomial path-->
      <arg name="qi_y" value="-0.81016"/>
      <arg name="qi_theta" value="1.6819"/>
      <arg name="qf_x" value="-9.8611"/>
      <arg name="qf_y" value="-0.53011"/>
      <arg name="qf_theta" value="4.8768"/>
      <arg name="poly_k" value="38.3961"/>
      <arg name="T" value="29.9535"/>
      <arg name="endless" value="$(arg endless)"/>
      <arg name="b" value="$(arg b)"/><!--controller paramters-->
      <arg name="k1" value="$(arg k1)"/>
      <arg name="k2" value="$(arg k2)"/>
      <arg name="vmax" value="$(arg vmax)"/>
      <arg name="wmax" value="$(arg wmax)"/>
   </include><!--end of ugv1-->
   <include file="$(find rcomv_r1)/launch/ugv_with_InOutLin_control.launch"><!--start of ugv2-->
      <arg name="wmsr_node" value="$(arg wmsr_node)"/>
      <arg name="n" value="$(arg n)"/><!--size of the formation-->
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="ugv_name" value="$(arg ugv_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="ugv2"/><!--group namespace-->
      <arg name="idx" value="2"/><!--idex and type of the agent-->
      <arg name="role" value="2"/>
      <arg name="x" value="8"/><!--initial_pose-->
      <arg name="y" value="0.82843"/>
      <arg name="z" value="0.1"/>
      <arg name="yaw" value="1.5708"/>
      <arg name="Ri" value="2.1648"/>
      <arg name="alphai" value="1.1781"/>
      <arg name="qi_x" value="9.1761"/><!--reference cubic polynomial path-->
      <arg name="qi_y" value="0.52206"/>
      <arg name="qi_theta" value="1.863"/>
      <arg name="qf_x" value="-9.4179"/>
      <arg name="qf_y" value="0.2024"/>
      <arg name="qf_theta" value="4.8214"/>
      <arg name="poly_k" value="39.2949"/>
      <arg name="T" value="29.8345"/>
      <arg name="endless" value="$(arg endless)"/>
      <arg name="b" value="$(arg b)"/><!--controller paramters-->
      <arg name="k1" value="$(arg k1)"/>
      <arg name="k2" value="$(arg k2)"/>
      <arg name="vmax" value="$(arg vmax)"/>
      <arg name="wmax" value="$(arg wmax)"/>
   </include><!--end of ugv2-->
   <include file="$(find rcomv_r1)/launch/ugv_with_InOutLin_control.launch"><!--start of ugv3-->
      <arg name="wmsr_node" value="$(arg wmsr_node)"/>
      <arg name="n" value="$(arg n)"/><!--size of the formation-->
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="ugv_name" value="$(arg ugv_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="ugv3"/><!--group namespace-->
      <arg name="idx" value="3"/><!--idex and type of the agent-->
      <arg name="role" value="2"/>
      <arg name="x" value="8"/><!--initial_pose-->
      <arg name="y" value="2.4493e-16"/>
      <arg name="z" value="0.1"/>
      <arg name="yaw" value="1.5708"/>
      <arg name="Ri" value="2"/>
      <arg name="alphai" value="1.5708"/>
      <arg name="qi_x" value="9.0274"/><!--reference cubic polynomial path-->
      <arg name="qi_y" value="1.5019"/>
      <arg name="qi_theta" value="1.7063"/>
      <arg name="qf_x" value="-8.3838"/>
      <arg name="qf_y" value="1.3389"/>
      <arg name="qf_theta" value="4.8885"/>
      <arg name="poly_k" value="39.6371"/>
      <arg name="T" value="30.005"/>
      <arg name="endless" value="$(arg endless)"/>
      <arg name="b" value="$(arg b)"/><!--controller paramters-->
      <arg name="k1" value="$(arg k1)"/>
      <arg name="k2" value="$(arg k2)"/>
      <arg name="vmax" value="$(arg vmax)"/>
      <arg name="wmax" value="$(arg wmax)"/>
   </include><!--end of ugv3-->
   <include file="$(find rcomv_r1)/launch/ugv_with_InOutLin_control.launch"><!--start of ugv4-->
      <arg name="wmsr_node" value="$(arg wmsr_node)"/>
      <arg name="n" value="$(arg n)"/><!--size of the formation-->
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="ugv_name" value="$(arg ugv_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="ugv4"/><!--group namespace-->
      <arg name="idx" value="4"/><!--idex and type of the agent-->
      <arg name="role" value="2"/>
      <arg name="x" value="8"/><!--initial_pose-->
      <arg name="y" value="-0.82843"/>
      <arg name="z" value="0.1"/>
      <arg name="yaw" value="1.5708"/>
      <arg name="Ri" value="2.1648"/>
      <arg name="alphai" value="1.9635"/>
      <arg name="qi_x" value="10.0348"/><!--reference cubic polynomial path-->
      <arg name="qi_y" value="0.077525"/>
      <arg name="qi_theta" value="1.8285"/>
      <arg name="qf_x" value="-11.0041"/>
      <arg name="qf_y" value="1.222"/>
      <arg name="qf_theta" value="4.617"/>
      <arg name="poly_k" value="39.7391"/>
      <arg name="T" value="31.2342"/>
      <arg name="endless" value="$(arg endless)"/>
      <arg name="b" value="$(arg b)"/><!--controller paramters-->
      <arg name="k1" value="$(arg k1)"/>
      <arg name="k2" value="$(arg k2)"/>
      <arg name="vmax" value="$(arg vmax)"/>
      <arg name="wmax" value="$(arg wmax)"/>
   </include><!--end of ugv4-->
   <include file="$(find rcomv_r1)/launch/ugv_with_InOutLin_control.launch"><!--start of ugv5-->
      <arg name="wmsr_node" value="$(arg wmsr_node)"/>
      <arg name="n" value="$(arg n)"/><!--size of the formation-->
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="ugv_name" value="$(arg ugv_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="ugv5"/><!--group namespace-->
      <arg name="idx" value="5"/><!--idex and type of the agent-->
      <arg name="role" value="2"/>
      <arg name="x" value="8"/><!--initial_pose-->
      <arg name="y" value="-2"/>
      <arg name="z" value="0.1"/>
      <arg name="yaw" value="1.5708"/>
      <arg name="Ri" value="2.8284"/>
      <arg name="alphai" value="2.3562"/>
      <arg name="qi_x" value="10.9654"/><!--reference cubic polynomial path-->
      <arg name="qi_y" value="-0.1605"/>
      <arg name="qi_theta" value="1.7787"/>
      <arg name="qf_x" value="-10.8741"/>
      <arg name="qf_y" value="0.0055934"/>
      <arg name="qf_theta" value="4.8326"/>
      <arg name="poly_k" value="41.5036"/>
      <arg name="T" value="29.4313"/>
      <arg name="endless" value="$(arg endless)"/>
      <arg name="b" value="$(arg b)"/><!--controller paramters-->
      <arg name="k1" value="$(arg k1)"/>
      <arg name="k2" value="$(arg k2)"/>
      <arg name="vmax" value="$(arg vmax)"/>
      <arg name="wmax" value="$(arg wmax)"/>
   </include><!--end of ugv5-->
   <include file="$(find rcomv_r1)/launch/ugv_with_InOutLin_control.launch"><!--start of ugv6-->
      <arg name="wmsr_node" value="$(arg wmsr_node)"/>
      <arg name="n" value="$(arg n)"/><!--size of the formation-->
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="ugv_name" value="$(arg ugv_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="ugv6"/><!--group namespace-->
      <arg name="idx" value="6"/><!--idex and type of the agent-->
      <arg name="role" value="2"/>
      <arg name="x" value="9.1716"/><!--initial_pose-->
      <arg name="y" value="-2"/>
      <arg name="z" value="0.1"/>
      <arg name="yaw" value="1.5708"/>
      <arg name="Ri" value="2.1648"/>
      <arg name="alphai" value="2.7489"/>
      <arg name="qi_x" value="10.4475"/><!--reference cubic polynomial path-->
      <arg name="qi_y" value="0.69476"/>
      <arg name="qi_theta" value="1.599"/>
      <arg name="qf_x" value="-8.8422"/>
      <arg name="qf_y" value="-0.035664"/>
      <arg name="qf_theta" value="4.5548"/>
      <arg name="poly_k" value="39.9823"/>
      <arg name="T" value="31.1352"/>
      <arg name="endless" value="$(arg endless)"/>
      <arg name="b" value="$(arg b)"/><!--controller paramters-->
      <arg name="k1" value="$(arg k1)"/>
      <arg name="k2" value="$(arg k2)"/>
      <arg name="vmax" value="$(arg vmax)"/>
      <arg name="wmax" value="$(arg wmax)"/>
   </include><!--end of ugv6-->
   <include file="$(find rcomv_r1)/launch/ugv_with_InOutLin_control.launch"><!--start of ugv7-->
      <arg name="wmsr_node" value="$(arg wmsr_node)"/>
      <arg name="n" value="$(arg n)"/><!--size of the formation-->
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="ugv_name" value="$(arg ugv_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="ugv7"/><!--group namespace-->
      <arg name="idx" value="7"/><!--idex and type of the agent-->
      <arg name="role" value="2"/>
      <arg name="x" value="10"/><!--initial_pose-->
      <arg name="y" value="-2"/>
      <arg name="z" value="0.1"/>
      <arg name="yaw" value="1.5708"/>
      <arg name="Ri" value="2"/>
      <arg name="alphai" value="3.1416"/>
      <arg name="qi_x" value="9.6853"/><!--reference cubic polynomial path-->
      <arg name="qi_y" value="1.2701"/>
      <arg name="qi_theta" value="1.7093"/>
      <arg name="qf_x" value="-12.1058"/>
      <arg name="qf_y" value="-0.19923"/>
      <arg name="qf_theta" value="4.1535"/>
      <arg name="poly_k" value="39.9551"/>
      <arg name="T" value="30.8611"/>
      <arg name="endless" value="$(arg endless)"/>
      <arg name="b" value="$(arg b)"/><!--controller paramters-->
      <arg name="k1" value="$(arg k1)"/>
      <arg name="k2" value="$(arg k2)"/>
      <arg name="vmax" value="$(arg vmax)"/>
      <arg name="wmax" value="$(arg wmax)"/>
   </include><!--end of ugv7-->
   <include file="$(find rcomv_r1)/launch/ugv_with_InOutLin_control.launch"><!--start of ugv8-->
      <arg name="wmsr_node" value="$(arg wmsr_node)"/>
      <arg name="n" value="$(arg n)"/><!--size of the formation-->
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="ugv_name" value="$(arg ugv_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="ugv8"/><!--group namespace-->
      <arg name="idx" value="8"/><!--idex and type of the agent-->
      <arg name="role" value="3"/>
      <arg name="x" value="10.8284"/><!--initial_pose-->
      <arg name="y" value="-2"/>
      <arg name="z" value="0.1"/>
      <arg name="yaw" value="1.5708"/>
      <arg name="Ri" value="2.1648"/>
      <arg name="alphai" value="3.5343"/>
      <arg name="qi_x" value="$(arg qi_x)"/><!--reference cubic polynomial path-->
      <arg name="qi_y" value="$(arg qi_y)"/>
      <arg name="qi_theta" value="$(arg qi_theta)"/>
      <arg name="qf_x" value="$(arg qf_x)"/>
      <arg name="qf_y" value="$(arg qf_y)"/>
      <arg name="qf_theta" value="$(arg qf_theta)"/>
      <arg name="poly_k" value="$(arg poly_k)"/>
      <arg name="T" value="$(arg T)"/>
      <arg name="endless" value="$(arg endless)"/>
      <arg name="b" value="$(arg b)"/><!--controller paramters-->
      <arg name="k1" value="$(arg k1)"/>
      <arg name="k2" value="$(arg k2)"/>
      <arg name="vmax" value="$(arg vmax)"/>
      <arg name="wmax" value="$(arg wmax)"/>
   </include><!--end of ugv8-->
   <include file="$(find rcomv_r1)/launch/ugv_with_InOutLin_control.launch"><!--start of ugv9-->
      <arg name="wmsr_node" value="$(arg wmsr_node)"/>
      <arg name="n" value="$(arg n)"/><!--size of the formation-->
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="ugv_name" value="$(arg ugv_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="ugv9"/><!--group namespace-->
      <arg name="idx" value="9"/><!--idex and type of the agent-->
      <arg name="role" value="1"/>
      <arg name="x" value="12"/><!--initial_pose-->
      <arg name="y" value="-2"/>
      <arg name="z" value="0.1"/>
      <arg name="yaw" value="1.5708"/>
      <arg name="Ri" value="2.8284"/>
      <arg name="alphai" value="3.927"/>
      <arg name="qi_x" value="9.0837"/><!--reference cubic polynomial path-->
      <arg name="qi_y" value="-0.41851"/>
      <arg name="qi_theta" value="1.725"/>
      <arg name="qf_x" value="-10.9544"/>
      <arg name="qf_y" value="-1.034"/>
      <arg name="qf_theta" value="5.0284"/>
      <arg name="poly_k" value="39.9298"/>
      <arg name="T" value="28.5376"/>
      <arg name="endless" value="$(arg endless)"/>
      <arg name="b" value="$(arg b)"/><!--controller paramters-->
      <arg name="k1" value="$(arg k1)"/>
      <arg name="k2" value="$(arg k2)"/>
      <arg name="vmax" value="$(arg vmax)"/>
      <arg name="wmax" value="$(arg wmax)"/>
   </include><!--end of ugv9-->
   <include file="$(find rcomv_r1)/launch/ugv_with_InOutLin_control.launch"><!--start of ugv10-->
      <arg name="wmsr_node" value="$(arg wmsr_node)"/>
      <arg name="n" value="$(arg n)"/><!--size of the formation-->
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="ugv_name" value="$(arg ugv_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="ugv10"/><!--group namespace-->
      <arg name="idx" value="10"/><!--idex and type of the agent-->
      <arg name="role" value="3"/>
      <arg name="x" value="12"/><!--initial_pose-->
      <arg name="y" value="-0.82843"/>
      <arg name="z" value="0.1"/>
      <arg name="yaw" value="1.5708"/>
      <arg name="Ri" value="2.1648"/>
      <arg name="alphai" value="4.3197"/>
      <arg name="qi_x" value="$(arg qi_x)"/><!--reference cubic polynomial path-->
      <arg name="qi_y" value="$(arg qi_y)"/>
      <arg name="qi_theta" value="$(arg qi_theta)"/>
      <arg name="qf_x" value="$(arg qf_x)"/>
      <arg name="qf_y" value="$(arg qf_y)"/>
      <arg name="qf_theta" value="$(arg qf_theta)"/>
      <arg name="poly_k" value="$(arg poly_k)"/>
      <arg name="T" value="$(arg T)"/>
      <arg name="endless" value="$(arg endless)"/>
      <arg name="b" value="$(arg b)"/><!--controller paramters-->
      <arg name="k1" value="$(arg k1)"/>
      <arg name="k2" value="$(arg k2)"/>
      <arg name="vmax" value="$(arg vmax)"/>
      <arg name="wmax" value="$(arg wmax)"/>
   </include><!--end of ugv10-->
   <include file="$(find rcomv_r1)/launch/ugv_with_InOutLin_control.launch"><!--start of ugv11-->
      <arg name="wmsr_node" value="$(arg wmsr_node)"/>
      <arg name="n" value="$(arg n)"/><!--size of the formation-->
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="ugv_name" value="$(arg ugv_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="ugv11"/><!--group namespace-->
      <arg name="idx" value="11"/><!--idex and type of the agent-->
      <arg name="role" value="2"/>
      <arg name="x" value="12"/><!--initial_pose-->
      <arg name="y" value="-4.8986e-16"/>
      <arg name="z" value="0.1"/>
      <arg name="yaw" value="1.5708"/>
      <arg name="Ri" value="2"/>
      <arg name="alphai" value="4.7124"/>
      <arg name="qi_x" value="11.2669"/><!--reference cubic polynomial path-->
      <arg name="qi_y" value="-0.79184"/>
      <arg name="qi_theta" value="1.9552"/>
      <arg name="qf_x" value="-10.449"/>
      <arg name="qf_y" value="0.035267"/>
      <arg name="qf_theta" value="4.6933"/>
      <arg name="poly_k" value="40.0066"/>
      <arg name="T" value="30.1463"/>
      <arg name="endless" value="$(arg endless)"/>
      <arg name="b" value="$(arg b)"/><!--controller paramters-->
      <arg name="k1" value="$(arg k1)"/>
      <arg name="k2" value="$(arg k2)"/>
      <arg name="vmax" value="$(arg vmax)"/>
      <arg name="wmax" value="$(arg wmax)"/>
   </include><!--end of ugv11-->
   <include file="$(find rcomv_r1)/launch/ugv_with_InOutLin_control.launch"><!--start of ugv12-->
      <arg name="wmsr_node" value="$(arg wmsr_node)"/>
      <arg name="n" value="$(arg n)"/><!--size of the formation-->
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="ugv_name" value="$(arg ugv_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="ugv12"/><!--group namespace-->
      <arg name="idx" value="12"/><!--idex and type of the agent-->
      <arg name="role" value="2"/>
      <arg name="x" value="12"/><!--initial_pose-->
      <arg name="y" value="0.82843"/>
      <arg name="z" value="0.1"/>
      <arg name="yaw" value="1.5708"/>
      <arg name="Ri" value="2.1648"/>
      <arg name="alphai" value="5.1051"/>
      <arg name="qi_x" value="9.8922"/><!--reference cubic polynomial path-->
      <arg name="qi_y" value="-0.096542"/>
      <arg name="qi_theta" value="1.7302"/>
      <arg name="qf_x" value="-9.1054"/>
      <arg name="qf_y" value="-0.93406"/>
      <arg name="qf_theta" value="4.9948"/>
      <arg name="poly_k" value="39.9444"/>
      <arg name="T" value="29.1401"/>
      <arg name="endless" value="$(arg endless)"/>
      <arg name="b" value="$(arg b)"/><!--controller paramters-->
      <arg name="k1" value="$(arg k1)"/>
      <arg name="k2" value="$(arg k2)"/>
      <arg name="vmax" value="$(arg vmax)"/>
      <arg name="wmax" value="$(arg wmax)"/>
   </include><!--end of ugv12-->
   <include file="$(find rcomv_r1)/launch/ugv_with_InOutLin_control.launch"><!--start of ugv13-->
      <arg name="wmsr_node" value="$(arg wmsr_node)"/>
      <arg name="n" value="$(arg n)"/><!--size of the formation-->
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="ugv_name" value="$(arg ugv_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="ugv13"/><!--group namespace-->
      <arg name="idx" value="13"/><!--idex and type of the agent-->
      <arg name="role" value="2"/>
      <arg name="x" value="12"/><!--initial_pose-->
      <arg name="y" value="2"/>
      <arg name="z" value="0.1"/>
      <arg name="yaw" value="1.5708"/>
      <arg name="Ri" value="2.8284"/>
      <arg name="alphai" value="5.4978"/>
      <arg name="qi_x" value="11.3649"/><!--reference cubic polynomial path-->
      <arg name="qi_y" value="-1.3427"/>
      <arg name="qi_theta" value="1.3974"/>
      <arg name="qf_x" value="-9.5241"/>
      <arg name="qf_y" value="-0.74012"/>
      <arg name="qf_theta" value="4.3766"/>
      <arg name="poly_k" value="39.5844"/>
      <arg name="T" value="30.1295"/>
      <arg name="endless" value="$(arg endless)"/>
      <arg name="b" value="$(arg b)"/><!--controller paramters-->
      <arg name="k1" value="$(arg k1)"/>
      <arg name="k2" value="$(arg k2)"/>
      <arg name="vmax" value="$(arg vmax)"/>
      <arg name="wmax" value="$(arg wmax)"/>
   </include><!--end of ugv13-->
   <include file="$(find rcomv_r1)/launch/ugv_with_InOutLin_control.launch"><!--start of ugv14-->
      <arg name="wmsr_node" value="$(arg wmsr_node)"/>
      <arg name="n" value="$(arg n)"/><!--size of the formation-->
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="ugv_name" value="$(arg ugv_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="ugv14"/><!--group namespace-->
      <arg name="idx" value="14"/><!--idex and type of the agent-->
      <arg name="role" value="2"/>
      <arg name="x" value="10.8284"/><!--initial_pose-->
      <arg name="y" value="2"/>
      <arg name="z" value="0.1"/>
      <arg name="yaw" value="1.5708"/>
      <arg name="Ri" value="2.1648"/>
      <arg name="alphai" value="5.8905"/>
      <arg name="qi_x" value="10.2745"/><!--reference cubic polynomial path-->
      <arg name="qi_y" value="0.43579"/>
      <arg name="qi_theta" value="1.9517"/>
      <arg name="qf_x" value="-9.2864"/>
      <arg name="qf_y" value="-1.036"/>
      <arg name="qf_theta" value="5.0672"/>
      <arg name="poly_k" value="40.0086"/>
      <arg name="T" value="30.6054"/>
      <arg name="endless" value="$(arg endless)"/>
      <arg name="b" value="$(arg b)"/><!--controller paramters-->
      <arg name="k1" value="$(arg k1)"/>
      <arg name="k2" value="$(arg k2)"/>
      <arg name="vmax" value="$(arg vmax)"/>
      <arg name="wmax" value="$(arg wmax)"/>
   </include><!--end of ugv14-->
   <include file="$(find rcomv_r1)/launch/ugv_with_InOutLin_control.launch"><!--start of ugv15-->
      <arg name="wmsr_node" value="$(arg wmsr_node)"/>
      <arg name="n" value="$(arg n)"/><!--size of the formation-->
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="ugv_name" value="$(arg ugv_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="ugv15"/><!--group namespace-->
      <arg name="idx" value="15"/><!--idex and type of the agent-->
      <arg name="role" value="2"/>
      <arg name="x" value="10"/><!--initial_pose-->
      <arg name="y" value="2"/>
      <arg name="z" value="0.1"/>
      <arg name="yaw" value="1.5708"/>
      <arg name="Ri" value="2"/>
      <arg name="alphai" value="6.2832"/>
      <arg name="qi_x" value="9.7284"/><!--reference cubic polynomial path-->
      <arg name="qi_y" value="1.7424"/>
      <arg name="qi_theta" value="1.6089"/>
      <arg name="qf_x" value="-11.406"/>
      <arg name="qf_y" value="1.0719"/>
      <arg name="qf_theta" value="4.6339"/>
      <arg name="poly_k" value="41.6904"/>
      <arg name="T" value="29.5458"/>
      <arg name="endless" value="$(arg endless)"/>
      <arg name="b" value="$(arg b)"/><!--controller paramters-->
      <arg name="k1" value="$(arg k1)"/>
      <arg name="k2" value="$(arg k2)"/>
      <arg name="vmax" value="$(arg vmax)"/>
      <arg name="wmax" value="$(arg wmax)"/>
   </include><!--end of ugv15-->
   <include file="$(find rcomv_r1)/launch/ugv_with_InOutLin_control.launch"><!--start of ugv16-->
      <arg name="wmsr_node" value="$(arg wmsr_node)"/>
      <arg name="n" value="$(arg n)"/><!--size of the formation-->
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="ugv_name" value="$(arg ugv_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="ugv16"/><!--group namespace-->
      <arg name="idx" value="16"/><!--idex and type of the agent-->
      <arg name="role" value="2"/>
      <arg name="x" value="9.1716"/><!--initial_pose-->
      <arg name="y" value="2"/>
      <arg name="z" value="0.1"/>
      <arg name="yaw" value="1.5708"/>
      <arg name="Ri" value="2.1648"/>
      <arg name="alphai" value="6.6759"/>
      <arg name="qi_x" value="11.1084"/><!--reference cubic polynomial path-->
      <arg name="qi_y" value="-0.91934"/>
      <arg name="qi_theta" value="1.6115"/>
      <arg name="qf_x" value="-10.5187"/>
      <arg name="qf_y" value="-0.51373"/>
      <arg name="qf_theta" value="4.3677"/>
      <arg name="poly_k" value="39.4183"/>
      <arg name="T" value="29.8824"/>
      <arg name="endless" value="$(arg endless)"/>
      <arg name="b" value="$(arg b)"/><!--controller paramters-->
      <arg name="k1" value="$(arg k1)"/>
      <arg name="k2" value="$(arg k2)"/>
      <arg name="vmax" value="$(arg vmax)"/>
      <arg name="wmax" value="$(arg wmax)"/>
   </include><!--end of ugv16-->
</launch>