<?xml version="1.0" encoding="utf-8"?>
<launch>
   <arg default="r1_sim" name="ugv_name"/>
   <arg default="eight_track" name="world_name"/>
   <arg default="true" name="enable_logging"/>
   <arg default="true" name="enable_ground_truth"/>
   <arg default="$(arg ugv_name)" name="log_file"/>
   <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models"/>
   <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/models"/>
   <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find rcomv_uav)/worlds/$(arg world_name).world"/>
      <arg name="paused" value="true"/>
   </include>
   <arg default="true" name="wmsr_node"/>
   <arg default="8" name="n"/>
   <arg default="7" name="k"/>
   <arg default="1" name="F"/>
   <arg default="cubic" name="path_type"/>
   <arg default="10" name="qi_x"/><!--reference cubic polynomial path-->
   <arg default="-5" name="qi_y"/>
   <arg default="1.5708" name="qi_theta"/>
   <arg default="-10" name="qf_x"/>
   <arg default="-5" name="qf_y"/>
   <arg default="1.5708" name="qf_theta"/>
   <arg default="40" name="poly_k"/>
   <arg default="30" name="T"/>
   <arg default="true" name="endless"/>
   <arg default="0.05" name="b"/><!--controller paramters-->
   <arg default="0.5" name="k1"/>
   <arg default="0.5" name="k2"/>
   <arg default="2" name="vmax"/>
   <arg default="4" name="wmax"/>
   <node launch-prefix="xterm -e" name="switch_node" output="screen" pkg="rcomv_r1" type="switch"/><!--upper level switch node-->
   <include file="$(find rcomv_r1)/launch/ugv_with_InOutLin_control.launch"><!--start of ugv1-->
      <arg name="wmsr_node" value="$(arg wmsr_node)"/>
      <arg name="n" value="$(arg n)"/><!--size of the formation-->
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="ugv_name" value="$(arg ugv_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="ugv1"/><!--group namespace-->
      <arg name="idx" value="1"/><!--idex and type of the agent-->
      <arg name="role" value="2"/>
      <arg name="x" value="10"/><!--initial_pose-->
      <arg name="y" value="-3"/>
      <arg name="z" value="0.1"/>
      <arg name="yaw" value="1.5708"/>
      <arg name="Ri" value="2"/>
      <arg name="alphai" value="0"/>
      <arg name="path_type" value="$(arg path_type)"/>
      <arg name="qi_x" value="9.9689"/><!--reference cubic polynomial path-->
      <arg name="qi_y" value="-5.0211"/>
      <arg name="qi_theta" value="1.5208"/>
      <arg name="qf_x" value="-9.8963"/>
      <arg name="qf_y" value="-4.9905"/>
      <arg name="qf_theta" value="1.6762"/>
      <arg name="poly_k" value="40"/>
      <arg name="T" value="30"/>
      <arg name="endless" value="$(arg endless)"/>
      <arg name="b" value="$(arg b)"/><!--controller paramters-->
      <arg name="k1" value="$(arg k1)"/>
      <arg name="k2" value="$(arg k2)"/>
      <arg name="vmax" value="$(arg vmax)"/>
      <arg name="wmax" value="$(arg wmax)"/>
   </include><!--end of ugv1-->
   <include file="$(find rcomv_r1)/launch/ugv_with_InOutLin_control.launch"><!--start of ugv2-->
      <arg name="wmsr_node" value="$(arg wmsr_node)"/>
      <arg name="n" value="$(arg n)"/><!--size of the formation-->
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="ugv_name" value="$(arg ugv_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="ugv2"/><!--group namespace-->
      <arg name="idx" value="2"/><!--idex and type of the agent-->
      <arg name="role" value="2"/>
      <arg name="x" value="8.5858"/><!--initial_pose-->
      <arg name="y" value="-3.5858"/>
      <arg name="z" value="0.1"/>
      <arg name="yaw" value="1.5708"/>
      <arg name="Ri" value="2"/>
      <arg name="alphai" value="0.7854"/>
      <arg name="path_type" value="$(arg path_type)"/>
      <arg name="qi_x" value="9.9878"/><!--reference cubic polynomial path-->
      <arg name="qi_y" value="-4.7873"/>
      <arg name="qi_theta" value="1.5631"/>
      <arg name="qf_x" value="-10.0751"/>
      <arg name="qf_y" value="-4.9851"/>
      <arg name="qf_theta" value="1.6084"/>
      <arg name="poly_k" value="40"/>
      <arg name="T" value="30"/>
      <arg name="endless" value="$(arg endless)"/>
      <arg name="b" value="$(arg b)"/><!--controller paramters-->
      <arg name="k1" value="$(arg k1)"/>
      <arg name="k2" value="$(arg k2)"/>
      <arg name="vmax" value="$(arg vmax)"/>
      <arg name="wmax" value="$(arg wmax)"/>
   </include><!--end of ugv2-->
   <include file="$(find rcomv_r1)/launch/ugv_with_InOutLin_control.launch"><!--start of ugv3-->
      <arg name="wmsr_node" value="$(arg wmsr_node)"/>
      <arg name="n" value="$(arg n)"/><!--size of the formation-->
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="ugv_name" value="$(arg ugv_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="ugv3"/><!--group namespace-->
      <arg name="idx" value="3"/><!--idex and type of the agent-->
      <arg name="role" value="2"/>
      <arg name="x" value="8"/><!--initial_pose-->
      <arg name="y" value="-5"/>
      <arg name="z" value="0.1"/>
      <arg name="yaw" value="1.5708"/>
      <arg name="Ri" value="2"/>
      <arg name="alphai" value="1.5708"/>
      <arg name="path_type" value="$(arg path_type)"/>
      <arg name="qi_x" value="10.0372"/><!--reference cubic polynomial path-->
      <arg name="qi_y" value="-4.9611"/>
      <arg name="qi_theta" value="1.5153"/>
      <arg name="qf_x" value="-10.1276"/>
      <arg name="qf_y" value="-5.0195"/>
      <arg name="qf_theta" value="1.5315"/>
      <arg name="poly_k" value="40"/>
      <arg name="T" value="30"/>
      <arg name="endless" value="$(arg endless)"/>
      <arg name="b" value="$(arg b)"/><!--controller paramters-->
      <arg name="k1" value="$(arg k1)"/>
      <arg name="k2" value="$(arg k2)"/>
      <arg name="vmax" value="$(arg vmax)"/>
      <arg name="wmax" value="$(arg wmax)"/>
   </include><!--end of ugv3-->
   <include file="$(find rcomv_r1)/launch/ugv_with_InOutLin_control.launch"><!--start of ugv4-->
      <arg name="wmsr_node" value="$(arg wmsr_node)"/>
      <arg name="n" value="$(arg n)"/><!--size of the formation-->
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="ugv_name" value="$(arg ugv_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="ugv4"/><!--group namespace-->
      <arg name="idx" value="4"/><!--idex and type of the agent-->
      <arg name="role" value="2"/>
      <arg name="x" value="8.5858"/><!--initial_pose-->
      <arg name="y" value="-6.4142"/>
      <arg name="z" value="0.1"/>
      <arg name="yaw" value="1.5708"/>
      <arg name="Ri" value="2"/>
      <arg name="alphai" value="2.3562"/>
      <arg name="path_type" value="$(arg path_type)"/>
      <arg name="qi_x" value="10.0855"/><!--reference cubic polynomial path-->
      <arg name="qi_y" value="-4.9327"/>
      <arg name="qi_theta" value="1.5991"/>
      <arg name="qf_x" value="-10.0909"/>
      <arg name="qf_y" value="-5.0092"/>
      <arg name="qf_theta" value="1.5269"/>
      <arg name="poly_k" value="40"/>
      <arg name="T" value="30"/>
      <arg name="endless" value="$(arg endless)"/>
      <arg name="b" value="$(arg b)"/><!--controller paramters-->
      <arg name="k1" value="$(arg k1)"/>
      <arg name="k2" value="$(arg k2)"/>
      <arg name="vmax" value="$(arg vmax)"/>
      <arg name="wmax" value="$(arg wmax)"/>
   </include><!--end of ugv4-->
   <include file="$(find rcomv_r1)/launch/ugv_with_InOutLin_control.launch"><!--start of ugv5-->
      <arg name="wmsr_node" value="$(arg wmsr_node)"/>
      <arg name="n" value="$(arg n)"/><!--size of the formation-->
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="ugv_name" value="$(arg ugv_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="ugv5"/><!--group namespace-->
      <arg name="idx" value="5"/><!--idex and type of the agent-->
      <arg name="role" value="2"/>
      <arg name="x" value="10"/><!--initial_pose-->
      <arg name="y" value="-7"/>
      <arg name="z" value="0.1"/>
      <arg name="yaw" value="1.5708"/>
      <arg name="Ri" value="2"/>
      <arg name="alphai" value="3.1416"/>
      <arg name="path_type" value="$(arg path_type)"/>
      <arg name="qi_x" value="10.1874"/><!--reference cubic polynomial path-->
      <arg name="qi_y" value="-5.0397"/>
      <arg name="qi_theta" value="1.5334"/>
      <arg name="qf_x" value="-10.0267"/>
      <arg name="qf_y" value="-5.0361"/>
      <arg name="qf_theta" value="1.565"/>
      <arg name="poly_k" value="40"/>
      <arg name="T" value="30"/>
      <arg name="endless" value="$(arg endless)"/>
      <arg name="b" value="$(arg b)"/><!--controller paramters-->
      <arg name="k1" value="$(arg k1)"/>
      <arg name="k2" value="$(arg k2)"/>
      <arg name="vmax" value="$(arg vmax)"/>
      <arg name="wmax" value="$(arg wmax)"/>
   </include><!--end of ugv5-->
   <include file="$(find rcomv_r1)/launch/ugv_with_InOutLin_control.launch"><!--start of ugv6-->
      <arg name="wmsr_node" value="$(arg wmsr_node)"/>
      <arg name="n" value="$(arg n)"/><!--size of the formation-->
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="ugv_name" value="$(arg ugv_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="ugv6"/><!--group namespace-->
      <arg name="idx" value="6"/><!--idex and type of the agent-->
      <arg name="role" value="3"/>
      <arg name="x" value="11.4142"/><!--initial_pose-->
      <arg name="y" value="-6.4142"/>
      <arg name="z" value="0.1"/>
      <arg name="yaw" value="1.5708"/>
      <arg name="Ri" value="2"/>
      <arg name="alphai" value="3.927"/>
      <arg name="path_type" value="$(arg path_type)"/>
      <arg name="qi_x" value="$(arg qi_x)"/><!--reference cubic polynomial path-->
      <arg name="qi_y" value="$(arg qi_y)"/>
      <arg name="qi_theta" value="$(arg qi_theta)"/>
      <arg name="qf_x" value="$(arg qf_x)"/>
      <arg name="qf_y" value="$(arg qf_y)"/>
      <arg name="qf_theta" value="$(arg qf_theta)"/>
      <arg name="poly_k" value="$(arg poly_k)"/>
      <arg name="T" value="$(arg T)"/>
      <arg name="endless" value="$(arg endless)"/>
      <arg name="b" value="$(arg b)"/><!--controller paramters-->
      <arg name="k1" value="$(arg k1)"/>
      <arg name="k2" value="$(arg k2)"/>
      <arg name="vmax" value="$(arg vmax)"/>
      <arg name="wmax" value="$(arg wmax)"/>
   </include><!--end of ugv6-->
   <include file="$(find rcomv_r1)/launch/ugv_with_InOutLin_control.launch"><!--start of ugv7-->
      <arg name="wmsr_node" value="$(arg wmsr_node)"/>
      <arg name="n" value="$(arg n)"/><!--size of the formation-->
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="ugv_name" value="$(arg ugv_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="ugv7"/><!--group namespace-->
      <arg name="idx" value="7"/><!--idex and type of the agent-->
      <arg name="role" value="1"/>
      <arg name="x" value="12"/><!--initial_pose-->
      <arg name="y" value="-5"/>
      <arg name="z" value="0.1"/>
      <arg name="yaw" value="1.5708"/>
      <arg name="Ri" value="2"/>
      <arg name="alphai" value="4.7124"/>
      <arg name="path_type" value="$(arg path_type)"/>
      <arg name="qi_x" value="9.9613"/><!--reference cubic polynomial path-->
      <arg name="qi_y" value="-5.1638"/>
      <arg name="qi_theta" value="1.5197"/>
      <arg name="qf_x" value="-10.0887"/>
      <arg name="qf_y" value="-5.1093"/>
      <arg name="qf_theta" value="1.5277"/>
      <arg name="poly_k" value="40"/>
      <arg name="T" value="30"/>
      <arg name="endless" value="$(arg endless)"/>
      <arg name="b" value="$(arg b)"/><!--controller paramters-->
      <arg name="k1" value="$(arg k1)"/>
      <arg name="k2" value="$(arg k2)"/>
      <arg name="vmax" value="$(arg vmax)"/>
      <arg name="wmax" value="$(arg wmax)"/>
   </include><!--end of ugv7-->
   <include file="$(find rcomv_r1)/launch/ugv_with_InOutLin_control.launch"><!--start of ugv8-->
      <arg name="wmsr_node" value="$(arg wmsr_node)"/>
      <arg name="n" value="$(arg n)"/><!--size of the formation-->
      <arg name="k" value="$(arg k)"/>
      <arg name="F" value="$(arg F)"/>
      <arg name="ugv_name" value="$(arg ugv_name)"/>
      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="name_space" value="ugv8"/><!--group namespace-->
      <arg name="idx" value="8"/><!--idex and type of the agent-->
      <arg name="role" value="3"/>
      <arg name="x" value="11.4142"/><!--initial_pose-->
      <arg name="y" value="-3.5858"/>
      <arg name="z" value="0.1"/>
      <arg name="yaw" value="1.5708"/>
      <arg name="Ri" value="2"/>
      <arg name="alphai" value="5.4978"/>
      <arg name="path_type" value="$(arg path_type)"/>
      <arg name="qi_x" value="$(arg qi_x)"/><!--reference cubic polynomial path-->
      <arg name="qi_y" value="$(arg qi_y)"/>
      <arg name="qi_theta" value="$(arg qi_theta)"/>
      <arg name="qf_x" value="$(arg qf_x)"/>
      <arg name="qf_y" value="$(arg qf_y)"/>
      <arg name="qf_theta" value="$(arg qf_theta)"/>
      <arg name="poly_k" value="$(arg poly_k)"/>
      <arg name="T" value="$(arg T)"/>
      <arg name="endless" value="$(arg endless)"/>
      <arg name="b" value="$(arg b)"/><!--controller paramters-->
      <arg name="k1" value="$(arg k1)"/>
      <arg name="k2" value="$(arg k2)"/>
      <arg name="vmax" value="$(arg vmax)"/>
      <arg name="wmax" value="$(arg wmax)"/>
   </include><!--end of ugv8-->
</launch>
